@import '../../../../styles.scss';

:host {
  display: flex;
  margin-bottom: 5px;
  outline: none;

  label {
    cursor: pointer;

    input[type='checkbox'] {
      position: absolute;
      opacity: 0;
      cursor: none;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
    }

    span.actual-label {
      @extend .body;

      margin-left: 5px;
      text-align: justify;
      user-select: none;
    }

    div.checkbox-container {
      display: flex;
      flex-shrink: 0;
      width: 15px;
      height: 15px;
      background-color: $ddx-light;

      border: 1px solid $ddx-dark-lightest;
      outline: none;
      border-radius: 2px;

      fa-icon,
      ::ng-deep fa-icon {
        user-select: none;

        svg {
          fill: $ddx-light;
          width: 11px;
          height: 11px;
          user-select: none;

          path {
            fill: $ddx-light;
          }
        }
      }
    }

    &:hover,
    &:focus {
      span.actual-label {
      }

      div.checkbox-container {
      }
    }

    div.checkbox-container.checked {
    }
  }

  label.dark-theme {
    div.checkbox-container {
      background-color: $ddx-dark-lightest;
    }

    span.actual-label {
      color: $ddx-light-darker;
    }

    &:hover,
    &:focus {
      span.actual-label {
        color: $ddx-light;
      }

      div.checkbox-container {
        border-color: $ddx-dark-lightest;
      }
    }

    div.checkbox-container.checked {
      background-color: $ddx-accent-main;
      border-color: $ddx-accent-main;
    }
  }
}
