<header>
  <!-- <div class="step-counter">{{ 'kyc.steps.step_3' | ddxLocale }}</div> -->
  <h2>{{ 'kyc.title' | ddxLocale }}</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form
  >
    <div
      arrangeStack
      class="description"
      *ngIf="!isTraderInRegionTwo; else regionTwo"
    >
      <p>{{ 'kyc.identity_proof.description' | ddxLocale }}:</p>
      <ul arrangeStack class="documents">
        <li class="document">
          {{ 'kyc.identity_proof.documents_1' | ddxLocale }}
        </li>
        <li class="document">
          {{ 'kyc.identity_proof.documents_2' | ddxLocale }}
        </li>
        <li class="document">
          {{ 'kyc.identity_proof.documents_3' | ddxLocale }}
        </li>
      </ul>
      <p>{{ 'kyc.identity_proof.hints_1' | ddxLocale }}</p>
      <p>
        {{ 'kyc.identity_proof.hints_2' | ddxLocale }}
      </p>
      <p>
        {{ 'kyc.identity_proof.hints_3' | ddxLocale }}
      </p>
      <p>{{ 'kyc.identity_proof.hints_4' | ddxLocale }}</p>
    </div>

    <ng-template #regionTwo>
      <div arrangeStack class="description">
        <p>{{ 'kyc.identity_proof.description-region2' | ddxLocale }}:</p>
        <ul arrangeStack class="documents">
          <li class="document">
            {{ 'kyc.identity_proof.documents_1' | ddxLocale }}
          </li>
          <li class="document">
            {{ 'kyc.identity_proof.documents_2-region2' | ddxLocale }}
          </li>
          <li class="document">
            {{ 'kyc.identity_proof.documents_3-region2' | ddxLocale }}
          </li>
          <li class="document">
            {{ 'kyc.identity_proof.documents_4-region2' | ddxLocale }}
          </li>
        </ul>
        <p>{{ 'kyc.identity_proof.hints_1' | ddxLocale }}</p>
        <p>
          {{ 'kyc.identity_proof.hints_2' | ddxLocale }}
        </p>
        <p>
          {{ 'kyc.identity_proof.hints_3-region2' | ddxLocale }}
        </p>
        <p>{{ 'kyc.identity_proof.hints_4-region2' | ddxLocale }}</p>
      </div>
    </ng-template>

    <div arrangeInline class="guide">
      <div arrangeCenter class="image-frame">
        <img src="assets/images/kyc-id-1.svg" alt="guide-1" />
      </div>
      <span>{{ 'kyc.identity_proof.or' | ddxLocale }}</span>
      <div arrangeCenter class="image-frame">
        <img src="assets/images/kyc-id-2.svg" alt="guide-2" />
      </div>
    </div>

    <div class="uploader-section">
      <image-uploader
        [base64Control]="kycFormControls.image"
        [isLoading]="isLoading"
      ></image-uploader>
    </div>

    <div class="actions">
      <a
        class="back-button"
        routerLink="/user/kyc/phone-verification"
        rel="noopener noreferrer"
        ><button mat-stroked-button color="basic" type="button">
          {{ 'kyc.identity_proof.back' | ddxLocale }}
        </button></a
      >
      <pro-button
        color="primary"
        type="submit"
        [disabled]="!kycFormGroup.valid"
        #submitButton
      >
        {{ 'kyc.identity_proof.next' | ddxLocale }}
      </pro-button>
    </div>
  </form>
</section>
