<section arrangeStack arrangeCenter [ngSwitch]="currentState">
  <ng-container *ngSwitchCase="'waiting'">
    <div class="loading-spinner"></div>
  </ng-container>

  <ng-container *ngSwitchCase="'success'">
    <h2>All set!</h2>
    <p>You will be redirected to homepage soon ...</p>
    <mat-hint [ngStyle]="{ 'margin-top': '10px' }">
      You will be redirected to homepage soon ...
    </mat-hint>
  </ng-container>

  <ng-container *ngSwitchCase="'failed'">
    <h2>Error!</h2>
    <mat-error [ngStyle]="{ 'margin-top': '10px' }">
      An error occured while activating your acount
    </mat-error>
  </ng-container>
</section>
