<section arrangeStack arrangeCenter [ngSwitch]="currentState">
  <ng-container *ngSwitchCase="'waiting'">
    <div class="loading-spinner"></div>
  </ng-container>

  <ng-container *ngSwitchCase="'success'">
    <h2>{{ 'funds.fiat-withdraw.all-set' | ddxLocale }}</h2>
    <mat-hint [ngStyle]="{ 'margin-top': '10px' }">
      {{ 'funds.fiat-withdraw.redirection_message' | ddxLocale }}
    </mat-hint>
  </ng-container>

  <ng-container *ngSwitchCase="'failed'">
    <h2>{{ 'funds.fiat-withdraw.error_message' | ddxLocale }}</h2>
    <mat-error [ngStyle]="{ 'margin-top': '10px' }">
      {{ 'funds.fiat-withdraw.go_to_funds_button' | ddxLocale }}
    </mat-error>
  </ng-container>
</section>
