.drawingToolbar-U3_QXRof-,
.inner-1xuW-gY4-,
html.theme-dark .chart-page,
html.theme-dark .chart-page .chart-container,
.chart-page,
.chart-page .chart-container {
  background: #000a33;
}

html.theme-dark .chart-page .chart-container,
.chart-page .chart-container {
  border-color: transparent;
}

.buttonWrap-3fZWypJl-,
.button-263WXsg--,
.button-13wlLwhJ-,
.button-2ioYhFEY-,
.button-2ioYhFEY-.isInteractive-20uLObIc-,
.group-2JyOhh7Z-,
.group-2JyOhh7Z- {
  background: #00104400;
  color: white;
}

html.theme-dark .group-wWM3zP_M-,
.group-wWM3zP_M- {
  background: #000a33;
  color: white;
}

.group-2JyOhh7Z-:first-child > .dropdown-3_ASLzSj-:last-child {
  display: none;
}

.icon-1Y-3MM9F- svg,
.icon-1Y-3MM9F- svg g,
.icon-1Y-3MM9F- svg path,
.icon-16JOogW_- svg,
.icon-16JOogW_- svg g,
.icon-16JOogW_- svg path,
.icon-beK_KS0k- svg,
.icon-beK_KS0k- svg g,
.icon-beK_KS0k- svg path {
  fill: white;
  color: #000a33;
}

.chart-controls-bar {
  display: none;
}

@media screen and (max-width: 640px) and (max-height: 330px) {
  .layout__area--top,
  /* .group-wWM3zP_M-, */
  .pane-legend-line.pane-legend-wrap,
  .pane-legend-item-value-container {
    display: none;
  }
}
