@import './typography';
@import './animations';

$input-width: 420px;

form {
  width: 100%;
  max-width: $input-width;
  box-sizing: border-box;

  h1.title {
    font-weight: lighter;
    width: 100%;
    text-align: left;

    b {
      font-weight: bold;
    }
  }

  hr.title-seperator {
    width: 30%;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 20px;
    border: 1px solid $ddx-accent-main;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0em;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix {
    top: 0em;
    margin-right: 3px;
  }

  .mat-form-field-appearance-outline
    .mat-form-field-suffix
    .mat-datepicker-toggle
    .mat-icon-button {
    top: 0.75em;
  }

  .mat-form-field {
    font-size: 14px;
  }

  input[type='email'] {
    text-align: left; //HARDCODED
    direction: ltr; //HARDCODED
  }
}
