<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <div arrangeStack class="sale__header">
    <h2 class="sale-header__title" *ngIf="!!activeSymbol">
      {{ 'homepage.time_and_sales.title' | ddxLocale }}
      {{ activeSymbol.baseCurrencyShortName }}/{{
        activeSymbol.quoteCurrencyShortName
      }}
    </h2>

    <table class="ddx__table">
      <thead arrangeStack class="ddx-table__head">
        <tr arrangeInline *ngIf="!!activeSymbol">
          <th class="row-big">
            {{ 'homepage.time_and_sales.time' | ddxLocale }} ({{
              traderTimezoneTitleAbbr
            }})
          </th>
          <th class="row-small">
            {{ 'homepage.time_and_sales.price' | ddxLocale }} ({{
              activeSymbol.quoteCurrencyShortName
            }})
          </th>
          <th class="row-small">
            {{ 'homepage.time_and_sales.amount' | ddxLocale }} ({{
              activeSymbol.baseCurrencyShortName
            }})
          </th>
        </tr>
      </thead>
      <tbody
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="100"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
        class="ddx-table__body"
      >
        <tr arrangeInline *ngFor="let row of tableData; let i = index">
          <td class="row-big">
            {{ row.timeStamp | ddxConvertToTimezone }}
          </td>
          <td
            class="row-small"
            [ngClass]="getPriceCellCSSClass(row)"
            title="{{ row.price }}"
          >
            {{ row.price }}
          </td>
          <td class="row-small" title="{{ row.volume }}">{{ row.volume }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
