<header>
  <div class="step-counter">Step 2</div>
  <h2>Phone Verification</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <p class="description">
      Please write down your valid phone number. A text message wil be sent for
      verification.
    </p>

    <dropdown-autocomplete
      id="countryTelephoneCode"
      caption="Country"
      [items]="countriesList"
      [control]="kycFormControls.countryTelephoneCode"
    ></dropdown-autocomplete>

    <mat-form-field id="mobileNumber" appearance="outline">
      <span
        matPrefix
        *ngIf="
          kycFormControls.countryTelephoneCode.value &&
          kycFormControls.countryTelephoneCode.value.length > 0 &&
          codeStartsWithDigit(kycFormControls.countryTelephoneCode.value)
        "
        >+{{ kycFormControls.countryTelephoneCode.value }}</span
      >
      <input
        type="text"
        placeholder="Mobile Number"
        matInput
        name="mobileNumber"
        formControlName="mobileNumber"
      />
      <mat-error
        *ngIf="kycFormGroup.controls.mobileNumber.hasError('required')"
      >
        This field is required.
      </mat-error>
      <mat-error
        *ngIf="kycFormGroup.controls.mobileNumber.hasError('maxlength')"
      >
        Max length should be 15.
      </mat-error>
      <mat-error *ngIf="kycFormGroup.controls.mobileNumber.hasError('pattern')">
        Only digits are valid.
      </mat-error>
    </mat-form-field>

    <div arrangeStack id="submitNumberButtonContainer">
      <button
        mat-flat-button
        color="accent"
        type="button"
        [disabled]="
          !kycFormControls.countryTelephoneCode.valid ||
          !kycFormControls.mobileNumber.valid
        "
        (click)="onSubmitNumber()"
        #submitNumberButton
      >
        Submit
      </button>
    </div>

    <div id="code" [ngClass]="{ hidden: !hasSubmittedNumber }">
      <p class="message">Enter the validation code from your mobile:</p>
      <mat-form-field appearance="outline">
        <input
          type="text"
          placeholder="123456"
          matInput
          name="code"
          formControlName="code"
        />
        <mat-error *ngIf="kycFormGroup.controls.code.hasError('required')">
          This field is required.
        </mat-error>
        <mat-error *ngIf="kycFormGroup.controls.code.hasError('minlength')">
          Min length should be 6.
        </mat-error>
        <mat-error *ngIf="kycFormGroup.controls.code.hasError('maxlength')">
          Max length should be 6.
        </mat-error>
        <mat-error *ngIf="kycFormGroup.controls.code.hasError('pattern')">
          Only digits are valid.
        </mat-error>
        <div *ngIf="errors && errors.code" class="error-feedback">
          <mat-error *ngFor="let error of errors.code">
            {{ error }}
          </mat-error>
        </div>
      </mat-form-field>
    </div>

    <div class="actions">
      <a
        routerLink="/user/kyc/personal-info"
        rel="noopener noreferrer"
        class="back-button"
      >
        <button mat-stroked-button color="basic" type="button">Back</button>
      </a>
      <pro-button
        color="primary"
        type="submit"
        [ngClass]="{ hidden: !hasSubmittedNumber }"
        [disabled]="!kycFormGroup.valid"
        #submitButton
      >
        Next
      </pro-button>
    </div>
  </form>
</section>
