@import '../../../../../styles.scss';

:host {
  form {
    grid-template-rows: auto max-content max-content auto max-content auto;
    grid-template-columns: auto;
    grid-template-areas:
      'description'
      'countryTelephoneCode'
      'mobileNumber'
      'submitNumber'
      'verification'
      'actions';

    label[for='countryTelephoneCode'] {
      grid-area: countryTelephoneCode;
    }

    label[for='mobileNumber'] {
      grid-area: mobileNumber;
    }

    button.submit-number-button {
      grid-area: submitNumber;

      width: 100%;
      border: none;
      margin: 5px 0;
      align-self: center;

      &:not([disabled]) {
        color: $ddx-light;
        background-color: $ddx-blue-lighter;

        &:hover {
          color: $ddx-light;
          background-color: darken($ddx-blue-lighter, 5);
        }

        &.is-loading {
          color: transparent;

          &:after {
            border: 0.15em solid $ddx-light-darker;
            border-top-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }

    label[for='code'] {
      grid-area: verification;
    }

    .hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    form {
      grid-template-rows: auto max-content auto max-content auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        'description description description'
        'countryTelephoneCode mobileNumber mobileNumber'
        '. submitNumber .'
        '. verification .'
        'actions actions actions';
    }
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    form {
      grid-template-rows: auto max-content auto max-content auto;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'description description description description description'
        '. countryTelephoneCode mobileNumber mobileNumber .'
        '. . submitNumber . .'
        '. . verification . .'
        '. . actions actions actions';
    }
  }
}
