<header>
  <div class="step-counter">Step 2</div>
  <h2>Phone Verification</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form
  >
    <p class="description">
      Please write down your valid phone number. A text message wil be sent for
      verification.
    </p>

    <label for="countryTelephoneCode" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="countryTelephoneCode"
        name="countryTelephoneCode"
        formControlName="countryTelephoneCode"
      />
      <span class="actual-label">Country Code</span>
    </label>

    <label for="mobileNumber" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="mobileNumber"
        name="mobileNumber"
        formControlName="mobileNumber"
      />
      <span class="actual-label">Mobile Number</span>
    </label>

    <button
      class="button-secondary submit-number-button"
      type="button"
      [disabled]="
        !kycFormControls.countryTelephoneCode.valid ||
        !kycFormControls.mobileNumber.valid
      "
      (click)="onSubmitNumber()"
      #submitNumberButton
    >
      Submit
    </button>

    <label
      for="code"
      class="form-control"
      [ngClass]="{ hidden: !hasSubmittedNumber }"
    >
      <input
        type="text"
        placeholder=" "
        id="code"
        name="code"
        formControlName="code"
      />
      <span class="actual-label">Verification Code</span>
    </label>

    <div class="actions">
      <a
        class="back-button"
        routerLink="/user/kyc/personal-info"
        rel="noopener noreferrer"
        >Back</a
      >
      <button
        type="submit"
        #submitButton
        [ngClass]="{ hidden: !hasSubmittedNumber }"
        [disabled]="!kycFormGroup.valid"
      >
        Next
      </button>
    </div>
  </form>
</section>
