<div arrangeInline class="page-header">
  <h2>Funds</h2>

  <ul arrangeInline class="page-header__items">
    <li class="page-header__item">
      <dropdown-select
        [caption]="'Sort by'"
        [items]="sortSelectOptions"
        (valueChange)="onSortValueChange($event)"
      ></dropdown-select>
    </li>
    <li class="page-header__item">
      <label class="form-control" for="search">
        <input type="text" name="search" id="search" placeholder=" " />
        <span class="actual-label">Search</span>
      </label>
    </li>
  </ul>
</div>

<section class="page-content">
  <table class="account-table">
    <thead class="account-table__header">
      <tr class="account-table__row">
        <th class="account-table__header-cell">Coin</th>
        <th class="account-table__header-cell">Available</th>
        <th class="account-table__header-cell show-on-medium">On Orders</th>
        <th class="account-table__header-cell">BTC Valuatoin</th>
        <th class="account-table__header-cell">Lock</th>
        <th class="account-table__header-cell">Actions</th>
      </tr>
    </thead>
    <tbody class="account-table__body">
      <tr
        class="account-table__row"
        *ngFor="let row of tableRows; let i = index"
      >
        <td class="account-table__cell">BTC</td>
        <td class="account-table__cell">0.0013234050</td>
        <td class="account-table__cell show-on-medium">0.0013234050</td>
        <td class="account-table__cell">0.0013234050</td>
        <td class="account-table__cell">0.0013234050</td>
        <td class="account-table__cell">
          <div arrangeInline class="funds__actions">
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'deposit')"
            >
              <fa-icon [icon]="depositIcon"></fa-icon>
            </button>
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'withdraw')"
            >
              <fa-icon [icon]="withdrawIcon"></fa-icon>
            </button>
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'trade')"
            >
              <fa-icon [icon]="tradeIcon"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
