@import '../../../../../styles.scss';

:host {
  .page-content {
    mat-cell:last-of-type,
    mat-header-cell:last-of-type,
    mat-footer-cell:last-of-type {
      padding-right: 10px;
    }

    mat-cell:first-of-type,
    mat-header-cell:first-of-type,
    mat-footer-cell:first-of-type {
      padding-left: 10px;
    }

    mat-row {
      min-height: 35px;
    }

    .mat-table {
      .expandable-row {
        overflow: hidden;

        &.no-border {
          border: none;
        }

        .mat-header-cell,
        .mat-cell {
          white-space: normal;
        }
      }
    }
  }

  .funds__actions {
    justify-content: space-evenly;
    width: 100%;

    .funds__action-button {
      width: 16px;
      height: 16px;
      line-height: 16px;
      border-radius: 0;

      svg {
        @extend .has-transition;

        width: 16px;
        height: 16px;
        fill: $ddx-light;
      }

      &.is-active {
        svg {
          fill: $ddx-yellow;
        }
      }
    }
  }

  .mat-row:not(.expandable-row) {
    border-bottom-color: transparent;
  }

  .mat-column-available,
  .mat-column-reserved {
    display: none;
  }

  .row-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px;

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      max-width: unset;

      button[type='submit'] {
        margin: 5px;
      }

      div.error-feedback {
        p {
          justify-content: center;

          &:after {
            content: '-';
            display: flex;
            margin: 0 3px;
          }
        }
      }

      .mat-radio-group {
        width: 100%;
        margin-bottom: 5px;
      }
    }

    .mat-form-field,
    .mat-form-field.mat-form-field-appearance-outline {
      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0.25em;
      }

      &.address-container {
        width: 100%;
        max-width: 330px;
      }

      input {
        width: 100%;

        &.address-input.mat-input-element {
          font-family: 'Courier New', Courier, monospace;
          text-align: center;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .copy-button {
      margin: 0 5px;

      border-color: $ddx-accent-main;
      color: $ddx-accent-main;
      background: rgba($ddx-accent-main, 0.1);

      &:hover {
        border-color: $ddx-accent-main;
        color: $ddx-light;
        background: rgba($ddx-accent-main, 0.3);
      }
    }

    .tips {
      padding: 15px;
      box-sizing: border-box;
      width: 100%;
      text-align: left;

      li {
        @extend .caption-small;
        margin: 2px 0;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    .page-content {
      mat-cell:last-of-type,
      mat-header-cell:last-of-type,
      mat-footer-cell:last-of-type {
        padding-right: 15px;
      }

      mat-cell:first-of-type,
      mat-header-cell:first-of-type,
      mat-footer-cell:first-of-type {
        padding-left: 15px;
      }
    }

    .mat-column-available,
    .mat-column-reserved {
      display: flex;
    }

    .row-section {
      padding: 15px;

      label.form-control {
        width: auto;

        input {
          &.address-input {
            width: #{$input-width - 100px};
            max-width: unset;
          }

          &:not(.address-input),
          &:not(.address-input) + span.actual-label {
            max-width: #{$input-width / 2};
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    .page-content {
      mat-cell:last-of-type,
      mat-header-cell:last-of-type,
      mat-footer-cell:last-of-type {
        padding-right: 24px;
      }

      mat-cell:first-of-type,
      mat-header-cell:first-of-type,
      mat-footer-cell:first-of-type {
        padding-left: 24px;
      }

      mat-row {
        min-height: 46px;
      }
    }

    .funds__actions {
      justify-content: space-evenly;
      width: 100%;

      .funds__action-button {
        width: 25px;
        height: 25px;
        line-height: 25px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
