@import '../../../../../styles.scss';

:host {
  .page-content {
    mat-cell:last-of-type,
    mat-header-cell:last-of-type,
    mat-footer-cell:last-of-type {
      padding-inline-end: 10px;
    }

    mat-cell:first-of-type,
    mat-header-cell:first-of-type,
    mat-footer-cell:first-of-type {
      padding-inline-start: 10px;
    }

    mat-row {
      min-height: 35px;
    }

    .mat-table {
      .expandable-row {
        overflow: hidden;

        &.no-border {
          border: none;
        }

        .mat-header-cell,
        .mat-cell {
          white-space: normal;
        }
      }
    }
  }

  .funds__alerts {
    .funds__alert-item {
      width: calc(100% - 14px);
      margin: 7px;
      padding: 7px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $ddx-yellow;
      background: rgba($ddx-yellow, 0.2);

      display: flex;
      align-content: center;
      justify-content: center;

      p {
        color: $ddx-light;
        text-shadow: 0 0 2px $ddx-yellow;
        text-align: center;
      }
    }
  }

  .funds__actions {
    justify-content: space-evenly;
    width: 100%;

    .funds__action-verify {
      line-height: 28px;
    }

    .funds__action-button {
      width: 16px;
      height: 16px;
      line-height: 16px;
      border-radius: 0;

      svg {
        width: 16px;
        height: 16px;

        path {
          @extend .has-transition;

          fill: $ddx-light;
        }

        line {
          @extend .has-transition;
          stroke: $ddx-light;
        }
      }

      &.is-active {
        svg {
          path {
            fill: $ddx-yellow;
          }

          line {
            stroke: $ddx-yellow;
          }
        }
      }
    }
  }

  .mat-row:not(.expandable-row) {
    border-bottom-color: transparent;
  }

  .mat-column-available,
  .mat-column-reserved {
    display: none;
  }

  .row-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px;

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      max-width: unset;

      button[type='submit'] {
        margin: 5px;
      }

      .details-container {
        width: 100%;

        .details__item {
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          line-height: 20px;

          span {
            font-weight: bold;
            color: $ddx-accent-main;
          }
        }
      }

      div.error-feedback {
        p {
          justify-content: center;

          &:after {
            content: '-';
            display: flex;
            margin: 0 3px;
          }
        }
      }

      ::ng-deep .mat-radio-group {
        width: 100%;
        min-height: 80px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
      }
    }

    .mat-form-field,
    .mat-form-field.mat-form-field-appearance-outline {
      width: 100%;

      .rtl & {
        transform: translateX(4px);
      }

      .ltr & {
        transform: translateX(-4px);
      }

      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0.25em;
        width: 100%;
      }

      &.address-container {
        width: 100%;
        max-width: unset;
      }

      &.deposit-amount-container {
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type='number'] {
          -moz-appearance: textfield;
        }
      }

      &.withdraw-amount-container {
        max-width: unset;
      }

      &.transfer-amount-container {
        width: 100%;
      }

      input {
        width: 100%;

        &.address-input.mat-input-element {
          font-family: Courier, monospace;
          text-align: center;
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .copy-button {
      margin: 0.25em 0;
      width: 100%;
    }

    .tips {
      box-sizing: border-box;
      width: 100%;
      text-align: start;
      margin: 15px 0 10px 0;

      li {
        @extend .caption-small;
        margin: 2px 0;
      }
    }

    .withdraw-button {
      width: 100%;
    }

    .transfer-button {
      width: 100%;
    }

    .deposit__fiat-form {
      mat-label {
        display: none;
      }

      .mat-raised-button {
        width: 100%;
        margin: 0.25em 0;

        &.deposit-button {
          margin: 0.25em 0;
          width: 100%;
        }
      }
    }

    .withdraw-cards__container {
      width: 100%;
      display: flex;
      flex-direction: column;

      mat-label {
        display: none;
      }

      .mat-raised-button {
        width: 100%;
        margin: 0.25em 0;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    .page-content {
      mat-cell:last-of-type,
      mat-header-cell:last-of-type,
      mat-footer-cell:last-of-type {
        padding-inline-end: 15px;
      }

      mat-cell:first-of-type,
      mat-header-cell:first-of-type,
      mat-footer-cell:first-of-type {
        padding-inline-start: 15px;
      }
    }

    .mat-column-available,
    .mat-column-reserved {
      display: flex;
    }

    .row-section {
      padding: 15px;

      label.form-control {
        width: auto;

        input {
          &.address-input {
            width: #{$input-width - 100px};
            max-width: unset;
          }

          &:not(.address-input),
          &:not(.address-input) + span.actual-label {
            max-width: #{$input-width / 2};
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    .page-content {
      mat-cell:last-of-type,
      mat-header-cell:last-of-type,
      mat-footer-cell:last-of-type {
        padding-inline-end: 24px;
      }

      mat-cell:first-of-type,
      mat-header-cell:first-of-type,
      mat-footer-cell:first-of-type {
        padding-inline-start: 24px;
      }

      mat-row {
        min-height: 46px;
      }
    }

    .row-section {
      .tips {
        order: 5;
      }

      .withdraw-button {
        width: 145px;
        order: 4;
      }

      .copy-button {
        margin: 0 0.25em;
        width: 18%;
        margin-inline-start: 20px;
      }

      .transfer-button {
        width: 145px;
        order: 3;
        margin-inline-start: auto;
      }

      #transfer-tip {
        order: 4;
      }

      .mat-form-field,
      .mat-form-field.mat-form-field-appearance-outline {
        &.address-container {
          &#deposit-address__container {
            width: 70%;
            max-width: 780px;
          }
        }
      }
    }

    .funds__actions {
      justify-content: space-evenly;
      width: 100%;

      .funds__action-verify {
        line-height: 36px;
      }

      .funds__action-button {
        width: 25px;
        height: 25px;
        line-height: 25px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .row-section {
      form {
        .details-container {
          width: 230px;
          margin-inline-start: auto;
          margin-inline-end: 7px;
          order: 3;
        }

        ::ng-deep .mat-radio-group {
          flex-direction: row;
          justify-content: flex-start;
          order: 1;

          width: 100%;
          margin-bottom: 10px;
          min-height: 0;

          .mat-radio-button:nth-child(2) {
            margin-inline-start: 40px;
          }
        }

        .withdraw-cards__container {
          width: 55%;
          display: flex;
          flex-direction: row;
          align-items: center;

          .mat-raised-button {
            width: unset;
            margin: 0;
            margin-inline-start: 7px;
            height: 48px;

            .card-selector__button-text {
              display: none;
            }
          }
        }

        .mat-form-field,
        .mat-form-field.mat-form-field-appearance-outline {
          &.transfer-amount-container {
            width: 70%;
            order: 2;
          }

          &.withdraw-amount__container {
            display: flex;
            flex-wrap: wrap;
            width: calc(45% - 7px);
            margin-inline-start: 7px;
          }

          &.withdraw-2fa__container {
            width: calc(100% - 375px - 14px);
            max-width: 230px;
            order: 2;
            margin-inline-start: 0;
            margin-inline-end: 7px;
          }

          &.withdraw-address__container {
            width: 55%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    .row-section {
      .copy-button {
        width: 138px;
      }

      .deposit__fiat-form {
        mat-label {
          display: flex;
          width: 20%;
        }

        .card-selector__container {
          width: 50%;
        }

        .card-selector__add-button {
          width: calc(30% - 7px);
          margin-inline-start: 7px;
          line-height: 48px;
        }

        .deposit-amount-container {
          width: 80%;
        }

        .deposit-button {
          line-height: 48px;
        }
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    .row-section {
      .transfer-button {
        margin-inline-end: auto;
      }

      .mat-form-field,
      .mat-form-field.mat-form-field-appearance-outline {
        &.transfer-amount-container {
          width: 30%;
        }
      }

      .tips {
        order: 5;
      }

      .withdraw-button {
        order: 4;
      }

      form {
        ::ng-deep .mat-radio-group {
          width: 40%;
          min-width: 365px;
          margin-bottom: 0;
        }

        .withdraw-cards__container {
          width: 55%;
          order: 1;

          mat-label {
            display: flex;
            margin-inline-end: 7px;
            width: 85px;
          }
        }

        .mat-form-field {
          &.withdraw-address__container {
            order: 1;
          }
          &.withdraw-amount__container {
            margin: 0 auto;
            width: 20%;
            order: 2;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    .row-section {
      .deposit__fiat-form {
        mat-label {
          width: 60px;
          justify-content: end;
          margin-inline-end: 5px;
        }

        .card-selector__container {
          width: 23%;
        }

        .card-selector__add-button {
          width: 160px;
          margin: 0 0.25em;
        }

        .deposit-amount-container {
          width: 29%;
        }

        .mat-raised-button {
          &.deposit-button {
            margin: 0 0.25em;
            width: 130px;
          }
        }
      }

      form {
        .withdraw-cards__container {
          .mat-raised-button {
            .card-selector__button-text {
              display: inline-block;
            }
          }

          .card-selector__container {
            width: calc(100% - 145px - 60px - 35px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-desktop) {
  :host {
    .row-section {
      .withdraw-button {
        order: 5;
      }

      form {
        .details-container {
          width: calc(20% - 7px);
        }

        .mat-form-field,
        .mat-form-field.mat-form-field-appearance-outline {
          &.withdraw-amount__container {
            width: 20%;
            margin: 0 7px;
          }

          &.withdraw-2fa__container {
            width: calc(20% - 7px);
            margin: 0;
          }

          &.withdraw-address__container {
            width: calc(40% - 7px);
            margin: 0;
          }
        }
      }
    }
  }
}
