<div arrangeInline class="page-header">
  <h2>Funds</h2>

  <!--
  <ul arrangeInline class="page-header__items">
    <li class="page-header__item">
      <dropdown-select
        [caption]="'Sort by'"
        [items]="sortSelectOptions"
        (valueChange)="onSortValueChange($event)"
      ></dropdown-select>
    </li>
    <li class="page-header__item">
      <label class="form-control" for="search">
        <input type="text" name="search" id="search" placeholder=" " />
        <span class="actual-label">Search</span>
      </label>
    </li>
  </ul>
  -->
</div>

<section class="page-content">
  <table class="account-table">
    <thead class="account-table__header">
      <tr class="account-table__row">
        <th class="account-table__header-cell">Coin</th>
        <th class="account-table__header-cell">Main Account</th>
        <th class="account-table__header-cell">Available</th>
        <th class="account-table__header-cell show-on-medium">On Orders</th>
        <th class="account-table__header-cell show-on-medium">Total</th>
        <th class="account-table__header-cell">Actions</th>
      </tr>
    </thead>
    <tbody class="account-table__body">
      <tr
        class="account-table__row"
        *ngFor="let row of tableRows; let i = index"
      >
        <td class="account-table__cell" [title]="row.shortName">
          {{ row.shortName }}
        </td>
        <td class="account-table__cell" [title]="row.main">
          {{ row.main }}
        </td>
        <td class="account-table__cell" [title]="row.available">
          {{ row.available }}
        </td>
        <td class="account-table__cell show-on-medium" [title]="row.reserved">
          {{ row.reserved }}
        </td>
        <td class="account-table__cell show-on-medium" [title]="row.total">
          {{ row.total }}
        </td>
        <td class="account-table__cell">
          <div arrangeInline class="funds__actions">
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'deposit')"
            >
              <fa-icon [icon]="depositIcon"></fa-icon>
            </button>
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'withdraw')"
            >
              <fa-icon [icon]="withdrawIcon"></fa-icon>
            </button>
            <button
              class="funds__action-button"
              (click)="handleClickOnAction(i, 'trade')"
            >
              <fa-icon [icon]="tradeIcon"></fa-icon>
            </button>
          </div>
        </td>
        <div
          class="row-section deposit"
          [ngClass]="{ hidden: this.activePane !== i + '-deposit' }"
        >
          <label class="form-control" for="address">
            <input
              type="text"
              name="address"
              id="address"
              value="987124gusvbq2gayusd"
              placeholder=" "
              class="address-input"
              readonly
              #addressCode
            />
            <span class="actual-label">Deposit Address</span>
          </label>
          <button
            class="button-primary button-short copy-button"
            (click)="handleClickOnCopyAddress(addressCode.value)"
          >
            Copy
          </button>
          <ul class="tips">
            <li>
              • Please don’t deposit any other digital assets except
              {{ row.shortName }} to the above address. Otherwise, you may lose
              your assets permanently.
            </li>
            <li>
              • Depositing to the above address requires confirmations of the
              entire network. It will arrive after 12 confirmations, and it will
              be available to withdraw after 12 confirmations.
            </li>
            <li>
              • Your deposit address won’t change often. If there are any
              changes, we will notify you via announcement or email.
            </li>
            <li>
              • Please make sure that your computer and browser are secure and
              your information is protected from being tampered or leaked.
            </li>
          </ul>
        </div>
        <div
          class="row-section withdraw"
          [ngClass]="{ hidden: this.activePane !== i + '-withdraw' }"
        >
          <form
            autocomplete="off"
            (ngSubmit)="onSubmitWithdraw(i, form.value)"
            #form="ngForm"
          >
            <input
              type="hidden"
              name="currency"
              [ngModel]="row.shortName"
              required
              [value]="row.shortName"
            />
            <input
              type="hidden"
              name="includeFee"
              [ngModel]="true"
              required
              [value]="true"
            />
            <input
              type="hidden"
              name="autoCommit"
              [ngModel]="true"
              required
              [value]="true"
            />
            <label class="form-control" for="address">
              <input
                type="text"
                name="address"
                id="address"
                placeholder=" "
                class="address-input"
                ngModel
                required
                #address="ngModel"
              />
              <span class="actual-label">Address</span>
            </label>
            <label class="form-control" for="amount">
              <input
                type="number"
                name="amount"
                id="amount"
                placeholder=" "
                value="0"
                min="0"
                ngModel
                required
                #amount="ngModel"
              />
              <span class="actual-label">Amount</span>
            </label>
            <label class="form-control" for="fee">
              <input
                type="text"
                name="fee"
                id="fee"
                placeholder=" "
                [value]="row.payoutFee"
                readonly
              />
              <span class="actual-label">Fee</span>
            </label>
            <label class="form-control" for="received">
              <input
                type="text"
                name="received"
                id="received"
                placeholder=" "
                [value]="
                  form.value.amount - row.payoutFee > 0
                    ? form.value.amount - row.payoutFee
                    : 'Quantity should be higher'
                "
                readonly
              />
              <span class="actual-label">Received</span>
            </label>
            <button
              type="submit"
              [disabled]="
                !form.valid ||
                form.value.amount <= 0 ||
                form.value.amount <= row.payoutFee
              "
              #withdrawButton
            >
              Withdraw
            </button>
          </form>
          <ul class="tips">
            <li>
              • Please make sure that your computer and browser are secure and
              your information is protected from being tampered or leaked.
            </li>
          </ul>
        </div>
        <div
          class="row-section trade"
          [ngClass]="{ hidden: this.activePane !== i + '-trade' }"
        >
          trade
        </div>
      </tr>
    </tbody>
  </table>
</section>
