<aside>
  <div class="kyc-steps">
    <a routerLink="/user/kyc/personal-info" class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_1' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_1_caption' | ddxLocale }}</p>
    </a>
    <a routerLink="/user/kyc/phone-verification" class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_2' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_2_caption' | ddxLocale }}</p>
    </a>
    <a routerLink="/user/kyc/identity-proof" class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_3' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_3_caption' | ddxLocale }}</p>
    </a>
    <a routerLink="/user/kyc/selfie" class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_4' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_4_caption' | ddxLocale }}</p>
    </a>
  </div>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
