<aside>
  <ol class="kyc-steps">
    <li class="kyc-step" #step>
      <span class="step-counter">Step 1</span>
      <p class="step-title">Personal Information</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">Step 2</span>
      <p class="step-title">Phone Verification</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">Step 3</span>
      <p class="step-title">Identity Proof</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">Step 4</span>
      <p class="step-title">Selfie</p>
    </li>
  </ol>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
