<aside>
  <ol class="kyc-steps">
    <li class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_1' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_1_caption' | ddxLocale }}</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_2' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_2_caption' | ddxLocale }}</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_3' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_3_caption' | ddxLocale }}</p>
    </li>
    <li class="kyc-step" #step>
      <span class="step-counter">{{ 'kyc.steps.step_4' | ddxLocale }}</span>
      <p class="step-title">{{ 'kyc.steps.step_4_caption' | ddxLocale }}</p>
    </li>
  </ol>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
