@import '../../../../../styles.scss';

:host {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, fit-content);
  grid-template-areas: 'sidebar', 'main';

  aside {
    display: flex;
    grid-area: 'sidebar';

    ol.kyc-steps {
      display: none;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      li.kyc-step {
        width: 100%;
        display: flex;
        flex-direction: column;

        color: $ddx-grey;

        border: none;
        border-bottom: 2px solid rgba($ddx-accent-lighter, 0.3);
        box-sizing: border-box;
        padding: 15px 5px;

        .step-title {
          display: none;
        }

        &.active {
          border-color: $ddx-accent-lighter;

          .step-counter {
            color: $ddx-light;
          }

          .step-title {
            color: $ddx-accent-lighter;
          }
        }

        &.passed {
          .step-counter {
            color: rgba($ddx-accent-lighter, 0.3);
          }

          .step-title {
            color: rgba($ddx-accent-lighter, 0.3);
          }
        }
      }
    }
  }

  main {
    grid-area: 'main';

    padding: 10px;
    box-sizing: border-box;

    ::ng-deep .kyc-form,
    .kyc-form {
      height: fit-content;
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    aside {
      ol.kyc-steps {
        display: flex;

        li.kyc-step {
          .step-title {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 'sidebar main';

    aside {
      padding: 70px;
      box-sizing: border-box;

      ol.kyc-steps {
        flex-direction: column;
        justify-content: center;

        li.kyc-step {
          border: none;
          border-left: 2px solid rgba($ddx-accent-lighter, 0.3);
          box-sizing: border-box;
          padding: 5px 5px 75px 40px;

          .step-counter {
            margin-bottom: 20px;
          }

          .step-title {
            white-space: nowrap;
          }
        }
      }
    }

    main {
      padding: 70px;

      ::ng-deep .kyc-form,
      .kyc-form {
        height: 560px;
      }
    }
  }
}
