<ng-template [ngIf]="icon" [ngIfElse]="stroked">
  <button
    mat-icon-button
    [ngClass]="{ 'is-open': isOpen }"
    [matMenuTriggerFor]="theMenu"
    (menuOpened)="onMenuOpen($event)"
    (menuClosed)="onMenuClose($event)"
    #theMenuTrigger
  >
    <mat-icon svgIcon="{{ icon }}">{{ icon }}</mat-icon>
  </button>
</ng-template>

<ng-template #stroked>
  <button
    mat-stroked-button
    [ngClass]="{ 'is-open': isOpen }"
    [matMenuTriggerFor]="theMenu"
    (menuOpened)="onMenuOpen($event)"
    (menuClosed)="onMenuClose($event)"
    #theMenuTrigger
  >
    <span matPrefix>{{ caption }}</span>
    <mat-icon svgIcon="arrow-down" matSuffix></mat-icon>
  </button>
</ng-template>

<mat-menu #theMenu="matMenu" class="dropdown-menu">
  <ng-content></ng-content>
</mat-menu>
