@import '../../../../styles.scss';

body {
  .mat-menu-panel {
    background: $ddx-dark-main;

    border: 1px solid $ddx-accent-main;
    box-sizing: border-box;
    margin-top: 2px;
    min-height: unset;

    .mat-menu-content {
      .mat-menu-item {
        height: fit-content;
        margin: 0;
        padding: 10px;
        color: $ddx-light-darker;
        text-decoration: none;
        display: flex;
        cursor: pointer;
        user-select: none;

        &:hover,
        &:active,
        &:focus {
          color: $ddx-light;
          text-decoration: none;
        }
      }
    }
  }
}

dropdown-menu {
  display: flex;

  height: fit-content;
  margin: 3px;
  box-sizing: border-box;

  & > button.mat-icon-button {
    &.is-open {
      color: $ddx-accent-main;
    }
  }

  & > button.mat-stroked-button {
    width: 100%;

    color: $ddx-light;
    border-color: $ddx-light !important;
    background-color: $ddx-dark-main;

    .mat-button-wrapper {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .mat-icon {
      @extend .has-transition;
    }

    &.is-open {
      .mat-icon {
        transform: rotateX(180deg);
      }
    }
  }
}
