<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">Forgot <b>DidEx</b> password?</h1>
  <hr class="title-seperator" />

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      name="email"
      id="email"
      placeholder="abc@example.come"
    />
    <mat-error *ngIf="authFormControls.email.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="authFormControls.email.hasError('email')">
      Email must be a valid address
    </mat-error>
  </mat-form-field>

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    Reset
  </pro-button>

  <mat-hint
    [ngStyle]="{ 'margin-top': '10px' }"
    *ngIf="!!submittedEmail && submittedEmail.length > 0"
  >
    Guideline for resetting your password has been sent to {{ submittedEmail }}.
  </mat-hint>

  <div class="description">
    <p class="footnote captcha"></p>

    <p class="footnote message">
      Remembered your password?
      <a tabindex="-1" routerLink="/auth/signin">Sign in</a>
    </p>
  </div>
</form>
