<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">Forgot <b>DidEx</b> password?</h1>

  <label class="form-control" for="email">
    <input
      type="email"
      formControlName="email"
      name="email"
      id="email"
      placeholder=" "
    />
    <span class="actual-label">Email</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.email)"
    class="warning-feedback"
  >
    <p *ngIf="authFormControls.email.errors.required">Email is required</p>
    <p *ngIf="authFormControls.email.errors.email">
      Email must be a valid address
    </p>
  </div>

  <button
    class="button-secondary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    Reset
  </button>

  <p *ngIf="!!submittedEmail && submittedEmail.length > 0">
    Guideline for resetting your password has been sent to {{ submittedEmail }}.
  </p>

  <div class="description">
    <p class="footnote captcha"></p>

    <p class="footnote message">
      Remembered your password?
      <a tabindex="-1" routerLink="/auth/signin">Sign in</a>
    </p>
  </div>
</form>
