<form arrangeStack autocomplete="off" (ngSubmit)="onSubmit()" #form>
  <h1 class="title">Forgot <b>DidEx</b> password?</h1>

  <label class="form-control" for="username">
    <input type="text" name="username" id="username" placeholder=" " />
    <span class="actual-label">Username</span>
  </label>

  <button class="button-secondary" type="submit">Reset</button>

  <p class="message">{{ message }}</p>
  <div class="description">
    <p class="footnote captcha">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, autem?
    </p>

    <p class="footnote message">
      Remembered your password?
      <a routerLink="/auth/signin">Sign in</a>
    </p>
  </div>
</form>
