<mat-form-field appearance="outline">
  <mat-label>{{ caption }}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    #input
  />
  <span matSuffix>{{ getTitleFromValue(input.value) }}</span>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option.value"
    >
      {{ option.title }}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf="control.hasError('required')">
    This field is required.
  </mat-error>
</mat-form-field>
