$transition-time: cubic-bezier(0.4, 0, 0.2, 1);

.has-transition {
  transition: $transition-time;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
