.title,
h1 {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 26px;
  line-height: 26px;
  font-weight: bolder;
}

.headline,
h2 {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
}

.subhead,
h3 {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.body,
p {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}

.callout {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.callout-small {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.footnote {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}

.caption {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.caption-small {
  &.en {
    font-family: 'segoe';
  }

  &.fa {
    font-family: 'shabnam';
  }
  font-size: 12px;
  line-height: 12px;
  font-weight: lighter;
}

@import '~@angular/material/theming';

.en {
  $custom-typography: mat-typography-config(
    $font-family: 'segoe',
  );

  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);

  mat-label,
  .formatted-tooltip,
  .mat-checkbox-layout,
  ::ng-deep mat-label {
    font-family: 'segoe';
  }
}

.fa {
  $custom-typography: mat-typography-config(
    $font-family: 'shabnam',
  );

  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);

  mat-label,
  .formatted-tooltip,
  .mat-checkbox-layout,
  ::ng-deep mat-label {
    font-family: 'shabnam';
  }
}
