.title,
h1 {
  font-family: 'overpass';
  font-size: 26px;
  line-height: 26px;
  font-weight: bolder;
}

.headline,
h2 {
  font-family: 'overpass';
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
}

.subhead,
h3 {
  font-family: 'overpass';
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.body,
p {
  font-family: 'overpass';
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}

.callout {
  font-family: 'overpass';
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.callout-small {
  font-family: 'overpass';
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.footnote {
  font-family: 'overpass';
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}

.caption {
  font-family: 'overpass';
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

.caption-small {
  font-family: 'overpass';
  font-size: 12px;
  line-height: 12px;
  font-weight: lighter;
}
