<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <img src="/assets/images/logo-white-symbol.svg" alt="logo" /> Sign up for
    <b>DidEx</b>
  </h1>
  <hr class="title-seperator" />

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      name="email"
      id="email"
      placeholder="abc@example.com"
    />

    <mat-error *ngIf="authFormGroup.controls.email.hasError('required')"
      >Email is required</mat-error
    >
    <mat-error *ngIf="authFormGroup.controls.email.hasError('email')">
      Email must be a valid address
    </mat-error>
  </mat-form-field>
  <ng-container *ngIf="authFormErrors && authFormErrors.email">
    <mat-error *ngFor="let error of authFormErrors.email">
      {{ error }}
    </mat-error>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="password"
      matInput
      name="password"
      id="password"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <ul arrangeStack class="password-hints-container">
    <li
      [ngClass]="{
        approved: isAtLeastEightCharacters(
          authFormGroup.controls.password.value
        )
      }"
    >
      Must be at least 8 characters
    </li>
    <li
      [ngClass]="{ approved: hasLower(authFormGroup.controls.password.value) }"
    >
      Must contain a lower case character
    </li>
    <li
      [ngClass]="{ approved: hasUpper(authFormGroup.controls.password.value) }"
    >
      Must contain a upper case character
    </li>
    <li
      [ngClass]="{ approved: hasNumber(authFormGroup.controls.password.value) }"
    >
      Must contain a number
    </li>
    <li
      [ngClass]="{
        approved: hasSpecial(authFormGroup.controls.password.value)
      }"
    >
      Must contain a sign
    </li>
  </ul>
  <ng-container *ngIf="authFormErrors && authFormErrors.email">
    <mat-error *ngFor="let error of authFormErrors.email">
      {{ error }}
    </mat-error>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="confirmPassword"
      matInput
      name="confirm-password"
      id="confirm-password"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
    <mat-error
      *ngIf="authFormGroup.controls.confirmPassword.hasError('required')"
    >
      Password must be confirmed
    </mat-error>
    <mat-error
      *ngIf="authFormGroup.controls.confirmPassword.hasError('mustMatch')"
    >
      Passwords must match
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="acceptedTerms" required #checkbox
    >Creating an account means you’re okay with our Terms of Service, Privacy
    Policy, and our default Notification Settings.
  </mat-checkbox>

  <div arrangeCenter #recaptcha class="recaptcha-container"></div>
  <input type="hidden" name="token" formControlName="token" value="" />

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    Sign Up
  </pro-button>

  <div class="description">
    <p class="footnote captcha">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy" target="_blank"
        >Privacy Policy</a
      >
      and
      <a href="https://policies.google.com/terms" target="_blank"
        >Terms of Service</a
      >
      apply.
    </p>

    <p class="footnote message">
      Already a member?
      <a tabindex="-1" routerLink="/auth/signin">Sign in</a>
    </p>
  </div>
</form>
