<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <img src="/assets/images/logo-white-symbol.svg" alt="logo" /> Sign up for
    <b>DidEx</b>
  </h1>
  <hr class="title-seperator" />

  <label class="form-control" for="email">
    <input
      type="email"
      formControlName="email"
      name="email"
      id="email"
      placeholder=" "
    />
    <span class="actual-label">Email</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.email)"
    class="invalid-feedback"
  >
    <p *ngIf="authFormControls.email.errors.required">Email is required</p>
    <p *ngIf="authFormControls.email.errors.email">
      Email must be a valid address
    </p>
  </div>

  <label class="form-control" for="password">
    <input
      type="password"
      formControlName="password"
      name="password"
      id="password"
      placeholder=" "
    />
    <span class="actual-label">Password</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.password)"
    class="invalid-feedback"
  >
    <p *ngIf="authFormControls.password.errors.required">
      Password is required
    </p>
    <p *ngIf="authFormControls.password.errors.minlength">
      Password must be at least 8 characters
    </p>
    <p *ngIf="authFormControls.password.errors.isStrong">
      Password must contain a lower case, upper case, a number and a sign
    </p>
  </div>

  <label class="form-control" for="confirm-password">
    <input
      type="password"
      formControlName="confirmPassword"
      name="confirm-password"
      id="confirm-password"
      placeholder=" "
    />
    <span class="actual-label">Confirm Password</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.confirmPassword)"
    class="invalid-feedback"
  >
    <p *ngIf="authFormControls.confirmPassword.errors.required">
      Password must be confirmed
    </p>
    <p *ngIf="authFormControls.confirmPassword.errors.minlength">
      Password must be at least 8 characters
    </p>
    <p *ngIf="authFormControls.confirmPassword.errors.mustMatch">
      Passwords must match
    </p>
  </div>

  <checkbox
    [label]="
      'Creating an account means you’re okay with our Terms of Service, Privacy Policy, and our default Notification Settings.'
    "
    [isRequired]="true"
    [hasDarkTheme]="true"
    #checkbox
  ></checkbox>

  <button
    class="button-secondary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    Sign Up
  </button>

  <div class="description">
    <p class="footnote captcha"></p>

    <p class="footnote message">
      Already a member?
      <a tabindex="-1" routerLink="/auth/signin">Sign in</a>
    </p>
  </div>
</form>
