<div arrangeInline class="footer-sections__container">
  <ul arrangeStack class="footer-sections__list">
    <h6 class="footer-sections__section-header">Header</h6>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
  </ul>
  <ul arrangeStack class="footer-sections__list">
    <h6 class="footer-sections__section-header">Header</h6>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
  </ul>
  <ul arrangeStack class="footer-sections__list">
    <h6 class="footer-sections__section-header">Header</h6>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
    <li class="footer-sections__section-item">
      <a href="/" class="footer-sections__section-link">blah</a>
    </li>
  </ul>
</div>

<hr class="footer-sections__seperator" />

<p class="footer-sections__copyright">All rights reserved 2020</p>
