@import '../../../../styles.scss';

:host {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  background: darkgrey;

  display: flex;
  flex-direction: column;

  .footer-sections__container {
    width: 100%;
    justify-content: space-between;
  }

  .footer-sections__seperator {
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px solid black;
  }

  .footer-sections__copyright {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    .footer-sections__container {
      max-width: $break-narrow-desktop;
      margin: 0 auto;
    }
  }
}
