@import '../../../../styles.scss';

:host {
  //I can't believe market form is fixed. I didn't do anything and it's fixed!
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, fit-content);
  grid-template-areas:
    'chart-section'
    'instruments-section'
    'order-book-section'
    'market-section'
    'my-orders-section'
    'sale-section';
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  max-width: 100%;

  & > section {
    box-sizing: border-box;
    max-width: 100%;
  }

  section.chart-section {
    grid-area: chart-section;
  }
  section.instruments-section {
    grid-area: instruments-section;
  }
  section.order-book-section {
    grid-area: order-book-section;
  }
  section.market-section {
    grid-area: market-section;
  }
  section.my-orders-section {
    grid-area: my-orders-section;
  }
  section.sale-section {
    grid-area: sale-section;
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, fit-content);
    grid-template-areas:
      'chart-section instruments-section'
      'market-section market-section'
      'order-book-section order-book-section'
      'my-orders-section sale-section';
  }
}

@media screen and (min-width: $break-desktop) {
  :host {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, fit-content);
    grid-template-areas:
      'chart-section instruments-section'
      'order-book-section market-section'
      'my-orders-section sale-section';

    section.chart-section {
      grid-column: 1 / 10;
    }
    section.instruments-section {
      grid-column: 10 / 13;
    }

    section.order-book-section {
      grid-column: 1 / 6;
    }
    section.market-section {
      grid-column: 6 / 13;
    }

    section.my-orders-section {
      grid-column: 1 / 7;
    }
    section.sale-section {
      grid-column: 7 / 13;
    }
  }
}
