<section class="chart-section">
  <tv-chart-wrapper></tv-chart-wrapper>
</section>
<section class="instruments-section">
  <ddx-instruments
    (symbolChange)="handleSymbolChange($event)"
  ></ddx-instruments>
</section>
<section class="order-book-section">
  <ddx-order-book [activeSymbol]="activeSymbol"></ddx-order-book>
</section>
<section class="market-section">
  <ddx-market [activeSymbol]="activeSymbol"></ddx-market>
</section>
<!-- <section class="my-orders-section"></section> -->
<!-- <section class="sale-section"></section> -->
