<section class="chart-section">
  <tv-chart-wrapper></tv-chart-wrapper>
</section>
<section class="instruments-section">
  <ddx-instruments
    [symbolsData]="symbolsData"
    [tickerData]="tickerData"
    (symbolChange)="handleSymbolChange($event)"
  ></ddx-instruments>
</section>
<section class="order-book-section">
  <ddx-order-book
    [activeSymbol]="activeSymbol"
    [orderData]="orderData"
  ></ddx-order-book>
</section>
<section class="market-section">
  <ddx-market
    [activeSymbol]="activeSymbol"
    [tickerData]="tickerData"
    [balanceData]="balanceData"
  ></ddx-market>
</section>
<section class="my-orders-section">
  <ddx-trades [activeSymbol]="activeSymbol"></ddx-trades>
</section>
<section class="sale-section">
  <ddx-sale [activeSymbol]="activeSymbol"></ddx-sale>
</section>
