<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <img src="/assets/images/logo-white-symbol.svg" alt="logo" />Sign in to
    <b>DidEx</b>
  </h1>
  <hr class="title-seperator" />

  <p class="footnote forgot-password">
    <a routerLink="/auth/forgot-password">Forgot password?</a>
  </p>

  <mat-form-field appearance="outline" for="email">
    <mat-label>Email</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      name="email"
      id="email"
      placeholder="abc@example.com"
      autofocus
    />
    <mat-error *ngIf="authFormControls.email.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="authFormControls.email.hasError('email')">
      Email must be a valid address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" for="password">
    <mat-label>Password</mat-label>
    <input
      type="password"
      formControlName="password"
      matInput
      name="password"
      id="password"
    />
    <mat-error *ngIf="authFormControls.password.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <input type="hidden" name="token" formControlName="token" value="" />

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    Sign In
  </pro-button>

  <div class="description">
    <p class="footnote captcha"></p>

    <p class="footnote message">
      Not a member?
      <a tabindex="-1" routerLink="/auth/signup">Sign up</a>
    </p>
  </div>
</form>
