<form arrangeStack autocomplete="off" (ngSubmit)="onSubmit()" #form>
  <h1 class="title">Sign in to <b>DidEx</b></h1>
  <hr class="title-seperator" />

  <p class="footnote forgot-password">
    <a routerLink="/auth/forgot-password">Forgot password?</a>
  </p>

  <label class="form-control" for="email">
    <input type="text" name="email" id="email" placeholder=" " />
    <span class="actual-label">Email</span>
  </label>

  <label class="form-control" for="password">
    <input type="password" name="password" id="password" placeholder=" " />
    <span class="actual-label">Password</span>
  </label>

  <button class="button-secondary" type="submit">Sign In</button>

  <p class="message">{{ message }}</p>
  <div class="description">
    <p class="footnote captcha">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, autem?
    </p>

    <p class="footnote message">
      Not a member?
      <a tabindex="-1" routerLink="/auth/signup">Sign up</a>
    </p>
  </div>
</form>
