@import '../../../../styles.scss';

:host {
  display: block;
  width: 100%;
  max-width: $break-narrow-desktop;
  margin: 0px auto;
  padding: 10px;
  box-sizing: border-box;

  .container {
    background: $ddx-blue-darkest;
    width: 100%;
    height: calc(100vh - 80px);
    margin: 0px;
    padding: 30px;
    box-sizing: border-box;

    .settings-page__header {
      flex-direction: column;

      .settings-page__title {
        line-height: 40px;
      }

      .settings-page__sections {
        align-items: center;
        padding-bottom: 3px;

        .settings-page__section-tab:not(:last-child) {
          margin-right: 3px;
        }
      }
      .settings-page__section-title {
        font-weight: bold;
      }
    }

    .settings-page__seperator {
      width: 100%;
      border-color: $ddx-primary;
    }

    .settings-page__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      flex: 1;

      .settings-page__info {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    padding: 30px 10px;

    section.container {
      height: fit-content;
      min-height: 550px;

      .settings-page__header {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
