<section arrangeStack class="container" [ngSwitch]="currentActivePage">
  <div arrangeInline class="settings-page__header">
    <h2 class="settings-page__title">{{ 'settings.title' | ddxLocale }}</h2>

    <div arrangeInline class="settings-page__sections">
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'general' }"
        (click)="activatePage('general')"
      >
        {{ 'settings.tab_general' | ddxLocale }}
      </button>
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'security' }"
        (click)="activatePage('security')"
      >
        {{ 'settings.tab_security' | ddxLocale }}
      </button>
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === '2fa' }"
        (click)="activatePage('2fa')"
      >
        {{ 'settings.tab_2fa' | ddxLocale }}
      </button>
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'kyc' }"
        (click)="activatePage('kyc')"
      >
        {{ 'settings.tab_kyc' | ddxLocale }}
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="settings-page__content" *ngSwitchCase="'general'">
    <p class="settings-page__info">
      {{ 'settings.general.message' | ddxLocale }}
    </p>

    <form
      arrangeStack
      autocomplete="off"
      [formGroup]="generalFormGroup"
      (ngSubmit)="onSubmitGeneralForm()"
      #generalForm="ngForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ 'settings.general.nickname' | ddxLocale }}</mat-label>
        <input
          matInput
          type="text"
          formControlName="nickname"
          name="nickname"
          placeholder="{{
            'settings.general.nickname_placeholder' | ddxLocale
          }}"
        />
      </mat-form-field>

      <dropdown-autocomplete
        caption="{{ 'settings.general.timezone' | ddxLocale }}"
        [control]="generalFormControls.timezone"
        [items]="timezonesList"
      ></dropdown-autocomplete>

      <pro-button
        color="primary"
        type="submit"
        [disabled]="!generalFormGroup.valid"
        #generalSubmitButton
      >
        {{ 'settings.general.save_button' | ddxLocale }}
      </pro-button>
    </form>
  </div>

  <div class="settings-page__content" *ngSwitchCase="'security'">
    <p class="settings-page__info">
      {{ 'settings.security.message' | ddxLocale }}
    </p>

    <form
      arrangeStack
      autocomplete="off"
      [formGroup]="securityFormGroup"
      (ngSubmit)="onSubmitSecurityForm()"
      #securityForm="ngForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{
          'settings.security.old_password' | ddxLocale
        }}</mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="currentPassword"
          name="currentPassword"
          id="currentPassword"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <ng-container *ngIf="errors">
        <mat-error *ngFor="let error of errors.password">{{ error }}</mat-error>
      </ng-container>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'settings.security.password' | ddxLocale }}</mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="newPassword"
          name="password"
          id="password"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <ul arrangeStack class="password-hints-container">
        <li
          [ngClass]="{
            approved: isAtLeastEightCharacters(
              securityFormGroup.controls.newPassword.value
            )
          }"
        >
          {{ 'settings.security.password_length_criteria' | ddxLocale }}
        </li>
        <li
          [ngClass]="{
            approved: hasLower(securityFormGroup.controls.newPassword.value)
          }"
        >
          {{ 'settings.security.password_lowercase_criteria' | ddxLocale }}
        </li>
        <li
          [ngClass]="{
            approved: hasUpper(securityFormGroup.controls.newPassword.value)
          }"
        >
          {{ 'settings.security.password_uppercase_criteria' | ddxLocale }}
        </li>
        <li
          [ngClass]="{
            approved: hasNumber(securityFormGroup.controls.newPassword.value)
          }"
        >
          {{ 'settings.security.password_number_criteria' | ddxLocale }}
        </li>
        <li
          [ngClass]="{
            approved: hasSpecial(securityFormGroup.controls.newPassword.value)
          }"
        >
          {{ 'settings.security.password_sign_criteria' | ddxLocale }}
        </li>
      </ul>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ 'settings.security.confirm_password' | ddxLocale }}
        </mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="confirmPassword"
          name="confirm-password"
          id="confirm-password"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <mat-error
        *ngIf="securityFormGroup.controls.confirmPassword.hasError('required')"
      >
        {{ 'settings.security.confirm_password_error_required' | ddxLocale }}
      </mat-error>
      <mat-error
        *ngIf="securityFormGroup.controls.confirmPassword.hasError('mustMatch')"
      >
        {{ 'settings.security.confirm_password_error_match' | ddxLocale }}
      </mat-error>

      <ng-container *ngIf="errors">
        <mat-error *ngFor="let error of errors.default">{{ error }}</mat-error>
      </ng-container>

      <pro-button
        color="primary"
        type="submit"
        [disabled]="!securityFormGroup.valid"
        #securitySubmitButton
      >
        {{ 'settings.security.save_button' | ddxLocale }}
      </pro-button>
    </form>
  </div>

  <div class="settings-page__content" *ngSwitchCase="'2fa'">
    <p class="settings-page__info">
      {{ 'settings.2fa.message' | ddxLocale }}
    </p>

    <ng-template
      [ngIf]="hasTraderEnabledTwoFactor"
      [ngIfElse]="enableTwoFactor"
    >
      <h4 class="settings-page__subtitle">
        {{ 'settings.2fa.disable_title' | ddxLocale }}
      </h4>

      <ddx-settings-qr-form mode="remove"></ddx-settings-qr-form>
    </ng-template>
    <ng-template #enableTwoFactor>
      <h4 class="settings-page__subtitle">
        {{ 'settings.2fa.enable_title' | ddxLocale }}
      </h4>

      <ddx-settings-qr-form mode="add"></ddx-settings-qr-form>
    </ng-template>
  </div>

  <div
    class="settings-page__content"
    *ngSwitchCase="'kyc'"
    [ngSwitch]="currentTraderStatus"
  >
    <ng-container *ngSwitchCase="'newbie'">
      <div id="parent-container">
        <img id="image" src="assets/images/kyc-newbie.svg" alt="newbie" />
        <p id="description" class="settings-page__info">
          {{ 'settings.kyc.message_newbie' | ddxLocale }}
        </p>
        <button
          id="button"
          routerLink="/user/kyc"
          mat-raised-button
          color="primary"
        >
          {{ 'settings.kyc.button_newbie' | ddxLocale }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'sent'">
      <img src="assets/images/kyc-sent.svg" alt="sent" />
      <p class="settings-page__info">
        {{ 'kyc.sent.description' | ddxLocale }}
      </p>
      <a routerLink="/user/kyc"
        ><button mat-raised-button color="primary">Update KYC Info</button></a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'approved'">
      <img src="assets/images/kyc-approved.svg" alt="approved" />
      <p class="settings-page__info">
        {{ 'settings.kyc.message_approved' | ddxLocale }}
      </p>
      <div class="actions">
        <a
          class="back-button"
          routerLink="/user/kyc/personal-info"
          rel="noopener noreferrer"
          ><button mat-stroked-button color="basic" type="button">
            {{ 'kyc.approved.edit_application' | ddxLocale }}
          </button></a
        >
        <pro-button color="primary" routerLink="/" type="submit">
          {{ 'kyc.approved.start_trade' | ddxLocale }}
        </pro-button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'banned'">
      <img src="assets/images/kyc-banned.svg" alt="banned" />
      <p class="body">
        {{ 'kyc.banned.description' | ddxLocale }}
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'rejected'">
      <img src="assets/images/kyc-rejected.svg" alt="rejected" />
      <p class="body">
        {{ 'kyc.rejected.description' | ddxLocale }}
      </p>
      <a
        class="back-button"
        routerLink="/user/kyc/personal-info"
        rel="noopener noreferrer"
        ><button mat-stroked-button color="basic" type="button">
          {{ 'kyc.rejected.correct_information' | ddxLocale }}
        </button></a
      >
    </ng-container>
  </div>
</section>
