<section arrangeStack class="container" [ngSwitch]="currentActivePage">
  <div arrangeInline class="settings-page__header">
    <h2 class="settings-page__title">Settings</h2>

    <div arrangeInline class="settings-page__sections">
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'general' }"
        (click)="activatePage('general')"
      >
        General
      </button>
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'security' }"
        (click)="activatePage('security')"
      >
        Security
      </button>
      <button
        mat-stroked-button
        class="settings-page__section-tab"
        [ngClass]="{ 'mat-accent': currentActivePage === 'kyc' }"
        (click)="activatePage('kyc')"
      >
        KYC
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="settings-page__content" *ngSwitchCase="'general'">
    <p class="settings-page__info">
      Here, you can change your general account information.
    </p>

    <form
      arrangeStack
      autocomplete="off"
      [formGroup]="generalFormGroup"
      (ngSubmit)="onSubmitGeneralForm()"
      #generalForm="ngForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nickname</mat-label>
        <input
          matInput
          type="text"
          formControlName="nickname"
          name="nickname"
          placeholder="Johnny Doe"
        />
      </mat-form-field>

      <dropdown-autocomplete
        caption="Timezone"
        [control]="generalFormControls.timezone"
        [items]="timezonesList"
      ></dropdown-autocomplete>

      <pro-button
        color="primary"
        type="submit"
        [disabled]="!generalFormGroup.valid"
        #generalSubmitButton
      >
        Save Changes
      </pro-button>
    </form>
  </div>

  <div class="settings-page__content" *ngSwitchCase="'security'">
    <p class="settings-page__info">
      Here, you can change your password for improving the security of your
      account.
    </p>

    <form
      arrangeStack
      autocomplete="off"
      [formGroup]="securityFormGroup"
      (ngSubmit)="onSubmitSecurityForm()"
      #securityForm
    >
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="currentPassword"
          name="currentPassword"
          id="currentPassword"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="newPassword"
          name="password"
          id="password"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="isHidden ? 'password' : 'text'"
          formControlName="confirmPassword"
          name="confirm-password"
          id="confirm-password"
        />
        <mat-icon matSuffix (click)="toggleHidePassword()">{{
          isHidden ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>

      <pro-button
        color="primary"
        type="submit"
        [disabled]="!securityFormGroup.valid"
        #securitySubmitButton
      >
        Save Changes
      </pro-button>
    </form>
  </div>

  <div
    class="settings-page__content"
    *ngSwitchCase="'kyc'"
    [ngSwitch]="currentTraderStatus"
  >
    <ng-container *ngSwitchCase="'newbie'">
      <p class="settings-page__info">
        As a user, you must validate your identity in order to do transactions
        in DidEx
      </p>
      <a routerLink="/user/kyc"
        ><button mat-raised-button color="accent">
          Validate identity
        </button></a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'sent'">
      <p class="settings-page__info">
        You have filled and sent your information and it is waiting for approval
      </p>
      <a routerLink="/user/kyc"
        ><button mat-raised-button color="accent">Update KYC Info</button></a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'approved'">
      <p class="settings-page__info">Your KYC Information is approved.</p>
      <a routerLink="/user/kyc"
        ><button mat-raised-button color="accent">Update KYC Info</button></a
      >
    </ng-container>
    <ng-container *ngSwitchCase="'banned'">
      <p class="settings-page__info">Your application for KYC is banned</p>
      <a routerLink="/user/kyc"
        ><button mat-raised-button color="accent">
          Validate identity
        </button></a
      >
    </ng-container>
  </div>
</section>
