// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();

$mat-ddx-dark: (
  50: #e0e3e9,
  100: #b3b8c9,
  200: #8089a5,
  300: #4d5981,
  400: #263666,
  500: #00124b,
  600: #001044,
  700: #000d3b,
  800: #000a33,
  900: #000523,
  A100: #5f68ff,
  A200: #2c37ff,
  A400: #000df8,
  A700: #000cdf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-ddx-blue: (
  50: #e2f5ff,
  100: #b7e6fe,
  200: #87d5fd,
  300: #56c4fc,
  400: #32b7fc,
  500: #0eaafb,
  600: #0ca3fa,
  700: #0a99fa,
  800: #0890f9,
  900: #047ff8,
  A100: #ffffff,
  A200: #ebf4ff,
  A400: #b8d9ff,
  A700: #9fcbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-ddx-yellow: (
  50: #fef5e5,
  100: #fce6bf,
  200: #fad594,
  300: #f8c469,
  400: #f7b748,
  500: #f5aa28,
  600: #f4a324,
  700: #f2991e,
  800: #f09018,
  900: #ee7f0f,
  A100: #ffffff,
  A200: #fff2e6,
  A400: #ffd7b3,
  A700: #ffc99a,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: $white-87-opacity,
  ),
);

$ddx-red: #ff2d2d;
$ddx-green: #8ed23f;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$didex-trade-primary: mat-palette($mat-ddx-yellow);
$didex-trade-accent: mat-palette($mat-ddx-blue);
$didex-trade-dark: mat-palette($mat-ddx-dark);

// The warn palette is optional (defaults to red).
$didex-trade-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$didex-trade-theme: mat-dark-theme(
  $didex-trade-primary,
  $didex-trade-accent,
  $didex-trade-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($didex-trade-theme);

// aliases
$ddx-yellow: mat-color($didex-trade-primary);

$ddx-dark-deep: mat-color($didex-trade-dark, 800);
$ddx-dark-main: mat-color($didex-trade-dark, 600);
$ddx-dark-lighter: mat-color($didex-trade-dark, 400);
$ddx-dark-lightest: mat-color($didex-trade-dark, 300);

$ddx-accent-main: mat-color($didex-trade-accent, 500);
$ddx-accent-lighter: mat-color($didex-trade-accent, 600);

$ddx-light: white;
$ddx-light-darker: #eee;
$ddx-grey: #9a9a9a;
