<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <img src="/assets/images/logo-white-symbol.svg" alt="logo" /> Reset your
    password
  </h1>
  <hr class="title-seperator" />

  <label class="form-control" for="newPassword">
    <input
      type="password"
      formControlName="newPassword"
      name="newPassword"
      id="newPassword"
      placeholder=" "
    />
    <span class="actual-label">New Password</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.newPassword)"
    class="warning-feedback"
  >
    <p *ngIf="authFormControls.newPassword.errors.required">
      Password is required
    </p>
    <p *ngIf="authFormControls.newPassword.errors.minlength">
      Password must be at least 8 characters
    </p>
    <p *ngIf="authFormControls.newPassword.errors.isStrong">
      Password must contain a lower case, upper case, a number and a sign
    </p>
  </div>

  <label class="form-control" for="confirm-password">
    <input
      type="password"
      formControlName="confirmPassword"
      name="confirm-password"
      id="confirm-password"
      placeholder=" "
    />
    <span class="actual-label">Confirm Password</span>
  </label>
  <div
    *ngIf="shouldShowErrors(authFormControls.confirmPassword)"
    class="warning-feedback"
  >
    <p *ngIf="authFormControls.confirmPassword.errors.required">
      Password must be confirmed
    </p>
    <p *ngIf="authFormControls.confirmPassword.errors.minlength">
      Password must be at least 8 characters
    </p>
    <p *ngIf="authFormControls.confirmPassword.errors.mustMatch">
      Passwords must match
    </p>
  </div>

  <button
    class="button-secondary"
    type="submit"
    [disabled]="!authFormGroup.valid"
    #submitButton
  >
    Reset
  </button>
  <div *ngIf="!!allErrors" class="error-feedback">
    <p *ngFor="let error of allErrors">
      {{ error }}
    </p>
  </div>
</form>
