<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <img src="assets/images/logo-white-symbol.svg" alt="logo" /> Reset your
    password
  </h1>
  <hr class="title-seperator" />

  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="newPassword"
      matInput
      name="newPassword"
      id="newPassword"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <ul arrangeStack class="password-hints-container">
    <li
      [ngClass]="{
        approved: isAtLeastEightCharacters(
          authFormGroup.controls.newPassword.value
        )
      }"
    >
      Must be at least 8 characters
    </li>
    <li
      [ngClass]="{
        approved: hasLower(authFormGroup.controls.newPassword.value)
      }"
    >
      Must contain a lower case character
    </li>
    <li
      [ngClass]="{
        approved: hasUpper(authFormGroup.controls.newPassword.value)
      }"
    >
      Must contain a upper case character
    </li>
    <li
      [ngClass]="{
        approved: hasNumber(authFormGroup.controls.newPassword.value)
      }"
    >
      Must contain a number
    </li>
    <li
      [ngClass]="{
        approved: hasSpecial(authFormGroup.controls.newPassword.value)
      }"
    >
      Must contain a sign
    </li>
  </ul>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="confirmPassword"
      matInput
      name="confirm-password"
      id="confirm-password"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
    <mat-error *ngIf="authFormControls.confirmPassword.hasError('required')">
      Password must be confirmed
    </mat-error>
    <mat-error *ngIf="authFormControls.confirmPassword.hasError('mustMatch')">
      Passwords must match
    </mat-error>
  </mat-form-field>

  <div arrangeCenter #recaptcha class="recaptcha-container"></div>

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!authFormGroup.valid"
    #submitButton
  >
    Reset
  </pro-button>
  <div *ngIf="!!allErrors" class="error-feedback">
    <p *ngFor="let error of allErrors">
      {{ error }}
    </p>
  </div>
</form>
