<h1 mat-dialog-title>{{ 'settings.2fa-popup.title' | ddxLocale }}</h1>
<div mat-dialog-content>
  <p>
    {{ 'settings.2fa-popup.message' | ddxLocale }}
  </p>

  <p>
    {{ 'settings.2fa-popup.recovery_code' | ddxLocale }}
    <code>{{ data?.recoveryKey }}</code>
  </p>
  <mat-hint>{{ 'settings.2fa-popup.hint' | ddxLocale }}</mat-hint>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>
    {{ 'settings.2fa-popup.button' | ddxLocale }}
  </button>
</div>
