<div arrangeStack class="order-book__header">
  <h2 class="order-book-header__title" *ngIf="!!activeSymbol">
    Order Book {{ activeSymbol.baseCurrencyShortName }}
  </h2>

  <div
    arrangeInline
    arrangeCenter
    *ngIf="!!activeSymbol"
    class="order-book-header__info"
  >
    <div arrangeStack arrangeCenter class="info-section">
      <h3>Buying {{ activeSymbol.quoteCurrencyShortName }}</h3>
      <span>Total: 0.0013234050</span>
    </div>

    <div arrangeStack arrangeCenter class="info-section">
      <h3>Selling {{ activeSymbol.quoteCurrencyShortName }}</h3>
      <span>Total: 0.0013234050</span>
    </div>
  </div>
</div>

<table class="ddx__table" *ngIf="!!activeSymbol">
  <thead arrangeStack class="ddx-table__head">
    <tr arrangeInline>
      <th class="row-index">#</th>
      <th class="row-big">Sum {{ activeSymbol.quoteCurrencyShortName }}</th>
      <th class="row-big">Amount</th>
      <th class="row-big">Bid</th>

      <th class="row-big">Ask</th>
      <th class="row-big">Amount</th>
      <th class="row-big">Sum {{ activeSymbol.quoteCurrencyShortName }}</th>
      <th class="row-index">#</th>
    </tr>
  </thead>
  <tbody arrangeStack class="ddx-table__body">
    <tr arrangeInline *ngFor="let row of tableData; let i = index">
      <td class="row-index">{{ i + 1 }}</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-big" title="0.0013234050">0.0013234050</td>
      <td class="row-index">{{ i + 1 }}</td>
    </tr>
  </tbody>
</table>
