<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <div arrangeStack class="order-book__header">
    <h2
      class="order-book-header__title"
      *ngIf="!!activeSymbol"
      dir="{{ direction$ | async }}"
    >
      {{ 'homepage.order_book.title' | ddxLocale }}
      {{ activeSymbol.baseCurrencyShortName }}/{{
        activeSymbol.quoteCurrencyShortName
      }}
    </h2>
    <!-- 
    <div
      arrangeInline
      arrangeCenter
      *ngIf="!!activeSymbol"
      class="order-book-header__info"
    > -->

    <!-- </div> -->
  </div>

  <!-- <div arrangeInline class="order-book__tables" *ngIf="!!activeSymbol"> -->
  <div class="inner_container">
    <div
      *ngIf="!!activeSymbol"
      class="info-section"
      id="buy-title"
      dir="{{ direction$ | async }}"
    >
      <h3>
        {{ 'homepage.order_book.buying' | ddxLocale }}
        {{ activeSymbol.baseCurrencyShortName }}
      </h3>
      <span
        >{{ 'homepage.order_book.total' | ddxLocale }}: {{ bidsTotal }}
        {{ activeSymbol.quoteCurrencyShortName }}</span
      >
    </div>

    <div
      *ngIf="!!activeSymbol"
      class="info-section"
      id="sale-title"
      dir="{{ direction$ | async }}"
    >
      <h3>
        {{ 'homepage.order_book.selling' | ddxLocale }}
        {{ activeSymbol.baseCurrencyShortName }}
      </h3>
      <span
        >{{ 'homepage.order_book.total' | ddxLocale }}: {{ asksTotal }}
        {{ activeSymbol.baseCurrencyShortName }}</span
      >
    </div>

    <table *ngIf="!!activeSymbol" id="buy-table" class="ddx__table">
      <thead class="ddx-table__head">
        <tr arrangeInline>
          <!-- <th class="row-index">#</th> -->
          <th class="row-big">
            {{ 'homepage.order_book.sum' | ddxLocale }}
            {{ activeSymbol.baseCurrencyShortName }}
          </th>
          <th class="row-big">
            {{ 'homepage.order_book.amount' | ddxLocale }}
          </th>
          <th arrangeInline class="row-big">
            {{ 'homepage.order_book.bid' | ddxLocale }}
            <button
              mat-icon-button
              matTooltip="{{ 'homepage.order_book.bid_tooltip' | ddxLocale }}"
              class="header-tooltip-button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="ddx-table__body">
        <tr
          arrangeInline
          *ngFor="let row of bidsTableData; let i = index"
          (click)="handleClickOnRecord(bidsSumArray[i], row.price)"
        >
          <!-- <td class="row-index">{{ i + 1 }}</td> -->
          <td class="row-big" title="{{ bidsSumArray[i] }}">
            {{ bidsSumArray[i] }}
          </td>
          <td class="row-big" title="{{ row.volume }}">{{ row.volume }}</td>
          <td class="row-big" title="{{ row.price }}">{{ row.price }}</td>
          <div
            class="row-underlay"
            [ngStyle]="{
              width: bidsSumArray[i].div(bidsSum).mul(100).toString() + '%'
            }"
          ></div>
        </tr>
      </tbody>
    </table>

    <!-- <hr /> -->

    <table *ngIf="!!activeSymbol" id="sale-table" class="ddx__table">
      <thead class="ddx-table__head">
        <tr arrangeInline>
          <th arrangeInline class="row-big">
            <button
              mat-icon-button
              matTooltip="{{ 'homepage.order_book.ask_tooltip' | ddxLocale }}"
              class="header-tooltip-button"
            >
              <mat-icon>help</mat-icon>
            </button>
            {{ 'homepage.order_book.ask' | ddxLocale }}
          </th>
          <th class="row-big">
            {{ 'homepage.order_book.amount' | ddxLocale }}
          </th>
          <th class="row-big">
            {{ 'homepage.order_book.sum' | ddxLocale }}
            {{ activeSymbol.baseCurrencyShortName }}
          </th>
          <!-- <th class="row-index">#</th> -->
        </tr>
      </thead>
      <tbody class="ddx-table__body">
        <tr
          arrangeInline
          *ngFor="let row of asksTableData; let i = index"
          (click)="handleClickOnRecord(asksSumArray[i], row.price)"
        >
          <div
            class="row-underlay"
            [ngStyle]="{
              width: asksSumArray[i].div(asksSum).mul(100).toString() + '%'
            }"
          ></div>
          <td class="row-big" title="{{ row.price }}">{{ row.price }}</td>
          <td class="row-big" title="{{ row.volume }}">{{ row.volume }}</td>
          <td class="row-big" title="{{ asksSumArray[i] }}">
            {{ asksSumArray[i] }}
          </td>
          <!-- <td class="row-index">{{ i + 1 }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->
</ng-template>
