@import '.././../../../styles.scss';

:host {
  width: 100%;
  height: 100%;
  min-width: 290px;
  min-height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $ddx-dark-main;

  .inner_container {
    // display: grid;
    // grid-template-columns: auto;
    // grid-template-rows: repeat(4, auto);
    // grid-template-areas:
    //   'buy-title'
    //   'buy-table'
    //   'sell-title'
    //   'sell-table';
    // gap: 15px;
    // padding: 15px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;

    div#buy-title {
      order: 1;
    }
    div#sell-title {
      order: 3;
    }
    table#buy-table {
      width: 100%;
      order: 2;
    }
    table#sell-table {
      width: 100%;
      order: 4;
    }

    .info-section {
      display: flex;
      justify-content: space-between;
      padding: 10px 18px;
    }
  }

  .order-book__header {
    padding: 10px;

    .order-book-header__title {
      margin-bottom: 15px;
      text-align: start;
    }

    .order-book-header__info {
      width: 100%;
      padding: 10px 0;

      .info-section {
        flex: 1;
        text-align: start;

        span {
          @extend .caption-small;

          margin-top: 2px;
        }
      }
    }
  }

  .order-book__tables {
    position: relative;
    height: 100%;
    box-sizing: border-box;

    // hr {
    //   position: absolute;
    //   width: 0px;
    //   height: 95%;
    //   background: rgba($color: $ddx-light, $alpha: 0.5);
    //   border: 1px solid rgba($color: $ddx-dark-lightest, $alpha: 0.2);

    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   margin: 0;
    // }
  }

  .ddx__table {
    // max-width: 50%;
    table-layout: fixed;
    min-height: 15vh;

    thead.ddx-table__head,
    tbody.ddx-table__body {
      tr {
        box-sizing: border-box;
        padding: 1px 10px;
        position: relative;

        .row-underlay {
          position: absolute;
          top: 0;

          width: 100%;
          height: 100%;
          z-index: 0;
          padding: 0;
          margin: 0;
          display: flex;
          border: none;
        }

        th,
        td {
          z-index: 1;
          &.row-index {
            display: none;
          }
        }
      }
    }

    &#buy-table {
      thead.ddx-table__head,
      tbody.ddx-table__body {
        tr {
          div.row-underlay {
            left: unset;
            right: 0;
            direction: rtl;
            background: rgba($ddx-green, 0.2);
          }

          th,
          td {
            text-align: left;
            justify-content: flex-end;
          }
        }
      }
    }

    &#sell-table {
      thead.ddx-table__head,
      tbody.ddx-table__body {
        tr {
          div.row-underlay {
            left: unset;
            right: 0;
            direction: rtl;
            background: rgba($ddx-red, 0.2);
          }

          th,
          td {
            text-align: left;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    min-width: 320px;

    .ddx__table {
      overflow-x: hidden;
      min-width: unset;
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    .inner_container {
      flex-direction: row;
      flex-wrap: wrap;

      div#buy-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        order: 1;
      }
      div#sell-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        order: 2;
      }

      table#buy-table {
        max-width: 50%;
        order: 3;
      }
      table#sell-table {
        max-width: 50%;
        order: 4;
      }

      .info-section {
        padding: 0;
      }
    }

    .order-book__header {
      padding: 10px;

      .order-book-header__info {
        width: 100%;
        padding: 20px 0;
      }
    }
    .ddx__table {
      thead.ddx-table__head,
      tbody.ddx-table__body {
        tr {
          th,
          td {
            &.row-index {
              display: initial;
            }
          }
        }
      }

      &#buy-table {
        thead.ddx-table__head,
        tbody.ddx-table__body {
          tr {
            div.row-underlay {
              left: unset;
              right: 0;
              direction: rtl;
              background: rgba($ddx-green, 0.2);
            }

            th:last-child {
              display: flex;
            }
          }
        }
      }

      &#sell-table {
        thead.ddx-table__head,
        tbody.ddx-table__body {
          tr {
            div.row-underlay {
              right: unset;
              left: 0;
              direction: ltr;
            }
          }
        }
      }
    }
  }
}
