<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <div arrangeStack class="order-book__header">
    <h2 class="order-book-header__title" *ngIf="!!activeSymbol">
      Order Book {{ activeSymbol.baseCurrencyShortName }}/{{
        activeSymbol.quoteCurrencyShortName
      }}
    </h2>

    <div
      arrangeInline
      arrangeCenter
      *ngIf="!!activeSymbol"
      class="order-book-header__info"
    >
      <div arrangeStack arrangeCenter class="info-section">
        <h3>Buying {{ activeSymbol.baseCurrencyShortName }}</h3>
        <span
          >Total: {{ bidsTotal }}
          {{ activeSymbol.quoteCurrencyShortName }}</span
        >
      </div>

      <div arrangeStack arrangeCenter class="info-section">
        <h3>Selling {{ activeSymbol.baseCurrencyShortName }}</h3>
        <span
          >Total: {{ asksTotal }} {{ activeSymbol.baseCurrencyShortName }}</span
        >
      </div>
    </div>
  </div>

  <div arrangeInline class="order-book__tables" *ngIf="!!activeSymbol">
    <table class="ddx__table">
      <thead class="ddx-table__head">
        <tr arrangeInline>
          <!-- <th class="row-index">#</th> -->
          <th class="row-big">Sum {{ activeSymbol.baseCurrencyShortName }}</th>
          <th class="row-big">Amount</th>
          <th arrangeInline class="row-big">
            Bid
            <button
              mat-icon-button
              matTooltip="The bid price represents the maximum price that a buyer is willing to pay for a share of stock or other currency."
              class="header-tooltip-button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody class="ddx-table__body">
        <tr
          arrangeInline
          *ngFor="let row of bidsTableData; let i = index"
          (click)="handleClickOnRecord(bidsSumArray[i], row.price)"
        >
          <!-- <td class="row-index">{{ i + 1 }}</td> -->
          <td class="row-big" title="{{ bidsSumArray[i] }}">
            {{ bidsSumArray[i] }}
          </td>
          <td class="row-big" title="{{ row.volume }}">{{ row.volume }}</td>
          <td class="row-big" title="{{ row.price }}">{{ row.price }}</td>
          <div
            class="row-underlay"
            [ngStyle]="{
              width: bidsSumArray[i].div(bidsSum).mul(100).toString() + '%'
            }"
          ></div>
        </tr>
      </tbody>
    </table>

    <hr />

    <table class="ddx__table">
      <thead class="ddx-table__head">
        <tr arrangeInline>
          <th arrangeInline class="row-big">
            <button
              mat-icon-button
              matTooltip="The ask price represents the minimum price that a seller is willing to take for that same currency."
              class="header-tooltip-button"
            >
              <mat-icon>help</mat-icon>
            </button>
            Ask
          </th>
          <th class="row-big">Amount</th>
          <th class="row-big">Sum {{ activeSymbol.baseCurrencyShortName }}</th>
          <!-- <th class="row-index">#</th> -->
        </tr>
      </thead>
      <tbody class="ddx-table__body">
        <tr
          arrangeInline
          *ngFor="let row of asksTableData; let i = index"
          (click)="handleClickOnRecord(asksSumArray[i], row.price)"
        >
          <div
            class="row-underlay"
            [ngStyle]="{
              width: asksSumArray[i].div(asksSum).mul(100).toString() + '%'
            }"
          ></div>
          <td class="row-big" title="{{ row.price }}">{{ row.price }}</td>
          <td class="row-big" title="{{ row.volume }}">{{ row.volume }}</td>
          <td class="row-big" title="{{ asksSumArray[i] }}">
            {{ asksSumArray[i] }}
          </td>
          <!-- <td class="row-index">{{ i + 1 }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
