@import '../../../../../styles.scss';

:host {
  .page-header__panes {
    align-items: center;

    button:not(:last-child) {
      margin-right: 3px;
    }
  }

  .page-content {
    .mat-table {
      background: transparent;
      max-width: 100%;
      overflow-x: auto;

      .mat-header-row,
      .mat-row {
        min-width: 1000px;
      }
    }

    .mat-paginator {
      background: transparent;
    }
  }
}
