@import '../../../../../styles.scss';

:host {
  .page-header__panes {
    align-items: center;
    padding-inline-start: 15px;

    button:not(:last-child) {
      margin-inline-end: 3px;
    }
  }

  .page-content {
    .mat-table {
      background: transparent;
      max-width: 100%;
      overflow-x: auto;

      .mat-header-row,
      .mat-row {
        min-width: 1920px;
      }

      .mat-column-currencyShortName {
        flex: 0.5;
      }

      .mat-column-hash {
        flex: 5;
      }

      .mat-column-address,
      .mat-column-transactionId {
        flex: 3;
      }
    }

    .mat-paginator {
      background: transparent;
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    .page-header__panes {
      padding-inline-start: 0;
      padding-inline-end: 15px;
    }
  }
}
