<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <ng-template #notAuthorized>
    <div arrangeStack class="trades__header">
      <h2 class="trades-header__title" *ngIf="!!activeSymbol">
        {{ 'homepage.trades.title' | ddxLocale }}
        {{ activeSymbol.baseCurrencyShortName }}/{{
          activeSymbol.quoteCurrencyShortName
        }}
      </h2>
    </div>
    <div arrangeStack class="tab-overlay">
      <h3>{{ 'homepage.trades.overlay_auth_message' | ddxLocale }}</h3>

      <button
        mat-raised-button
        color="primary"
        class="signin-cta-button"
        routerLink="/external-redirect"
        [queryParams]="{ redirect_url: '/auth/signin', from: '/trade' }"
      >
        {{ 'homepage.trades.overlay_auth_button' | ddxLocale }}
      </button>
    </div>
  </ng-template>

  <ng-template [ngIf]="isAuthorized" [ngIfElse]="notAuthorized">
    <div arrangeStack class="trades__header">
      <h2 class="trades-header__title" *ngIf="!!activeSymbol">
        {{ 'homepage.trades.title' | ddxLocale }}
        {{ activeSymbol.baseCurrencyShortName }}/{{
          activeSymbol.quoteCurrencyShortName
        }}
      </h2>

      <div arrangeInline class="trades-header__controls">
        <ul arrangeInline class="trades-header__trade-panes">
          <li
            class="trades-header__pane"
            [ngClass]="{ active: activePane === 'active' }"
            (click)="activatePane('active')"
          >
            {{ 'homepage.trades.active_tab_title' | ddxLocale }}
          </li>
          <li
            class="trades-header__pane"
            [ngClass]="{ active: activePane === 'filled' }"
            (click)="activatePane('filled')"
          >
            {{ 'homepage.trades.filled_tab_title' | ddxLocale }}
          </li>
          <li
            class="trades-header__pane"
            [ngClass]="{ active: activePane === 'trade' }"
            (click)="activatePane('trade')"
          >
            {{ 'homepage.trades.trade_tab_title' | ddxLocale }}
          </li>
        </ul>

        <!-- <button class="button-short">Edit</button> -->
      </div>
    </div>

    <table class="ddx__table" [ngSwitch]="activePane" *ngIf="!!activeSymbol">
      <ng-template #noData>
        <div arrangeStack class="tab-overlay">
          <h3>{{ 'homepage.trades.overlay_data_message' | ddxLocale }}</h3>
        </div>
      </ng-template>

      <ng-container *ngSwitchCase="'active'">
        <ng-template
          [ngIf]="!!activeOrders && activeOrders.length > 0"
          [ngIfElse]="noData"
        >
          <thead class="ddx-table__head">
            <tr arrangeInline>
              <th class="row-big">
                {{ 'homepage.trades.active_time' | ddxLocale }}
                ({{ traderTimezoneTitleAbbr }})
              </th>
              <th class="row-small">
                {{ 'homepage.trades.active_id' | ddxLocale }}
              </th>
              <th class="row-big">
                {{ 'homepage.trades.active_price' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.active_exec_amount' | ddxLocale }} ({{
                  activeSymbol.baseCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.active_total' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
              <th class="row-small">
                {{ 'homepage.trades.active_cancel' | ddxLocale }}
              </th>
            </tr>
          </thead>
          <tbody
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="100"
            [scrollWindow]="false"
            (scrolled)="onScrollOnActiveOrders()"
            class="ddx-table__body"
          >
            <tr arrangeInline *ngFor="let item of activeOrders; let i = index">
              <td class="row-big">
                {{ item.createdAt | date: 'short':traderTimezoneOffset }}
              </td>
              <td class="row-small" title="{{ item.id }}">{{ item.id }}</td>
              <td
                class="row-big"
                [ngClass]="getPriceCellCSSClass(item)"
                title="{{ item.price }}"
              >
                {{ item.price }}
              </td>
              <td
                class="row-big"
                title="{{ item.executedQuantity + '/' + item.quantity }}"
              >
                {{ item.executedQuantity + '/' + item.quantity }}
              </td>
              <td class="row-big" title="{{ getTotalPrice(item) }}">
                {{ getTotalPrice(item) }}
              </td>
              <td class="row-small">
                <ng-template
                  [ngIf]="!cancelingIDs.includes(item.id)"
                  [ngIfElse]="canceling"
                >
                  <button
                    class="cancel-order-button"
                    mat-icon-button
                    disableRipple
                    color="warn"
                    (click)="cancelOrder(item.id)"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                </ng-template>
                <ng-template #canceling>
                  <mat-spinner
                    class="cancel-order-progress"
                    color="warn"
                    diameter="14"
                  ></mat-spinner>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'filled'">
        <ng-template
          [ngIf]="!!filledOrders && filledOrders.length > 0"
          [ngIfElse]="noData"
        >
          <thead arrangeStack class="ddx-table__head">
            <tr arrangeInline>
              <th class="row-big">
                {{ 'homepage.trades.filled_time' | ddxLocale }}
                ({{ traderTimezoneTitleAbbr }})
              </th>
              <th class="row-small">
                {{ 'homepage.trades.filled_id' | ddxLocale }}
              </th>
              <th class="row-big">
                {{ 'homepage.trades.filled_price' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.filled_exec_amount' | ddxLocale }} ({{
                  activeSymbol.baseCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.filled_total' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
            </tr>
          </thead>
          <tbody
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="100"
            [scrollWindow]="false"
            (scrolled)="onScrollOnFilledOrders()"
            class="ddx-table__body"
          >
            <tr arrangeInline *ngFor="let item of filledOrders; let i = index">
              <td class="row-big">
                {{ item.createdAt | date: 'short':traderTimezoneOffset }}
              </td>
              <td class="row-small" title="{{ item.id }}">{{ item.id }}</td>
              <td
                class="row-big"
                [ngClass]="getPriceCellCSSClass(item)"
                title="{{ item.price }}"
              >
                {{ item.price }}
              </td>
              <td
                class="row-big"
                title="{{ item.executedQuantity + '/' + item.quantity }}"
              >
                {{ item.executedQuantity + '/' + item.quantity }}
              </td>
              <td class="row-big" title="{{ getTotalPrice(item) }}">
                {{ getTotalPrice(item) }}
              </td>
            </tr>
          </tbody>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'trade'">
        <ng-template
          [ngIf]="!!privateTrades && privateTrades.length > 0"
          [ngIfElse]="noData"
        >
          <thead arrangeStack class="ddx-table__head">
            <tr arrangeInline>
              <th class="row-big">
                {{ 'homepage.trades.trade_time' | ddxLocale }}
                ({{ traderTimezoneTitleAbbr }})
              </th>
              <th class="row-small">
                {{ 'homepage.trades.trade_id' | ddxLocale }}
              </th>
              <th class="row-big">
                {{ 'homepage.trades.trade_price' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.trade_amount' | ddxLocale }} ({{
                  activeSymbol.baseCurrencyShortName
                }})
              </th>
              <th class="row-big">
                {{ 'homepage.trades.trade_total' | ddxLocale }} ({{
                  activeSymbol.quoteCurrencyShortName
                }})
              </th>
            </tr>
          </thead>
          <tbody
            infiniteScroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="100"
            [scrollWindow]="false"
            (scrolled)="onScrollOnTrades()"
            class="ddx-table__body"
          >
            <tr arrangeInline *ngFor="let item of privateTrades; let i = index">
              <td class="row-big">
                {{ item.timeStamp | date: 'short':traderTimezoneOffset }}
              </td>
              <td class="row-small" title="{{ item.id }}">{{ item.id }}</td>
              <td
                class="row-big"
                [ngClass]="getPriceCellCSSClass(item)"
                title="{{ item.price }}"
              >
                {{ item.price }}
              </td>
              <td class="row-big" title="{{ item.volume }}">
                {{ item.volume }}
              </td>
              <td class="row-big" title="{{ item.volumeInQoute }}">
                {{ item.volumeInQoute }}
              </td>
            </tr>
          </tbody>
        </ng-template>
      </ng-container>
    </table>
  </ng-template>
</ng-template>
