<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <span
    arrangeCenter
    class="market__type"
    id="market"
    [ngClass]="{ active: activeType === 'market' }"
    (click)="activateType('market')"
    >Market
    <button
      mat-icon-button
      matTooltip="The market price is defined as the best available price for the instrument at the moment when the order is placed."
      class="header-tooltip-button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <span
    arrangeCenter
    class="market__type"
    id="limit"
    [ngClass]="{ active: activeType === 'limit' }"
    (click)="activateType('limit')"
    >Limit
    <button
      mat-icon-button
      matTooltip="A limit order to buy would be at the limit or lower price, and a limit order to sell would be at the limit or higher price."
      class="header-tooltip-button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>

  <ddx-market-form
    side="buy"
    id="buyActions"
    [activeType]="activeType"
    [activeSymbol]="activeSymbol"
    [balanceData]="balanceData"
    [tickerData]="tickerData"
  ></ddx-market-form>
  <ddx-market-form
    side="sell"
    id="sellActions"
    [activeType]="activeType"
    [activeSymbol]="activeSymbol"
    [balanceData]="balanceData"
    [tickerData]="tickerData"
  ></ddx-market-form>
</ng-template>
