<ng-template [ngIf]="!activeSymbol" [ngIfElse]="content">
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <span
    arrangeCenter
    class="market__type"
    id="market"
    [ngClass]="{ active: activeType === 'market' }"
    (click)="activateType('market')"
    >{{ 'homepage.market.market_tab' | ddxLocale }}
    <button
      mat-icon-button
      matTooltip="{{ 'homepage.market.market_tab_tooltip' | ddxLocale }}"
      class="header-tooltip-button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <span
    arrangeCenter
    class="market__type"
    id="limit"
    [ngClass]="{ active: activeType === 'limit' }"
    (click)="activateType('limit')"
    >{{ 'homepage.market.limit_tab' | ddxLocale }}
    <button
      mat-icon-button
      matTooltip="{{ 'homepage.market.limit_tab_tooltip' | ddxLocale }}"
      class="header-tooltip-button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>

  <ddx-market-form
    side="buy"
    id="buyActions"
    [activeType]="activeType"
    [activeSymbol]="activeSymbol"
    [activeOrder]="activeOrder"
    [balanceData]="balanceData"
    [tickerData]="tickerData"
    [activeOrders]="asksTableData"
  ></ddx-market-form>
  <ddx-market-form
    side="sell"
    id="sellActions"
    [activeType]="activeType"
    [activeSymbol]="activeSymbol"
    [activeOrder]="activeOrder"
    [balanceData]="balanceData"
    [tickerData]="tickerData"
    [activeOrders]="bidsTableData"
  ></ddx-market-form>
</ng-template>
