@import '../../../../styles.scss';

:host {
  width: 100%;
  min-height: 350px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, fit-content);
  grid-template-areas:
    'marketLabel limitLabel'
    'buyActions buyActions'
    'sellActions sellActions';
  background: $ddx-dark-main;

  span#market {
    grid-area: marketLabel;
  }

  span#limit {
    grid-area: limitLabel;
  }

  #buyActions {
    grid-area: buyActions;
  }

  #sellActions {
    grid-area: sellActions;
  }

  span.market__type {
    @extend .has-transition;

    padding: 20px 0;
    cursor: pointer;
    background: rgba($ddx-light, 0.1);
    border-top: 2px solid transparent;

    &.active {
      background: transparent;
      color: $ddx-yellow;
      border-color: $ddx-yellow;
    }

    &:hover {
      background: rgba($ddx-yellow, 0.2);
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, fit-content);
    grid-template-areas:
      'marketLabel limitLabel'
      'buyActions sellActions';

    div.market__actions {
      form.market__form {
        max-width: 420px;
      }
    }
  }
}
