@import '../../../styles.scss';

$ddx-kyc-header-height: 80px;

:host {
  display: flex;
  flex-direction: column;
  background-color: $ddx-dark-main;

  header {
    display: flex;
    flex-direction: column;
    height: $ddx-kyc-header-height;
    margin-bottom: 15px;

    div.step-counter {
      color: $ddx-accent-lighter;
      padding: 10px;
      width: 100%;
    }

    h2 {
      line-height: 40px;
      width: 100%;
      padding-left: 10px;
      border-bottom: 1px solid rgba($ddx-accent-lighter, 0.3);
    }
  }

  section {
    height: calc(100% - #{$ddx-kyc-header-height});
  }

  form {
    color: $ddx-light;
    padding: 20px;
    box-sizing: border-box;
    max-width: unset;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0 10px;

    .description {
      grid-area: description;
      margin-bottom: 10px;
    }

    .actions {
      grid-area: actions;
      justify-self: flex-end;
      align-self: flex-end;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin-top: 10px;

      .back-button {
        @extend .caption;

        margin-right: 5px;
        text-decoration: none;

        &,
        &:active,
        &:hover {
          color: $ddx-light-darker;
        }
      }
    }

    button[type='submit'] {
      border: none;

      &:not(:disabled) {
        background-color: $ddx-yellow;
        color: $ddx-light;

        &:hover,
        &:focus {
          background-color: darken($ddx-yellow, 5);
          color: $ddx-light;
        }

        &.is-loading {
          color: transparent;

          &:after {
            border: 0.15em solid $ddx-light-darker;
            border-top-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }

    dropdown-select,
    dropdown-autocomplete,
    dropdown-autocomplete-countries {
      width: 100%;
      max-width: unset;
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    header {
      flex-direction: row;

      div.step-counter {
        background: $ddx-accent-lighter;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 140px;
      }

      h2 {
        line-height: 80px;
      }
    }
  }
}
