@import '../../../styles.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background: $ddx-blue;
  background: linear-gradient(to top right, $ddx-blue, $ddx-blue-darker);

  form {
    color: $ddx-light;
    box-sizing: border-box;
    padding: 5px;

    .title {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        object-fit: contain;
        margin-right: 5px;
      }

      b {
        margin-left: 5px;
      }
    }

    button[type='submit'] {
      border: none;
      width: 100%;
      margin: 10px 0;

      &:not(:disabled) {
        background-color: $ddx-yellow;
        color: $ddx-light;

        &:hover,
        &:focus {
          background-color: darken($ddx-yellow, 5);
          color: $ddx-light;
        }

        &.is-loading {
          color: transparent;

          &:after {
            border: 0.15em solid $ddx-light-darker;
            border-top-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }

    label.form-control {
      // background: $ddx-blue;
      background: transparent;
    }

    checkbox,
    ::ng-deep checkbox {
      margin: 10px 0;

      span.actual-label,
      ::ng-deep span.actual-label {
        @extend .caption-small;
      }
    }

    .description {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 15px;

      p {
        width: 50%;
        flex-shrink: 0;
        color: $ddx-light-darker;
        font-weight: lighter;

        a,
        a:hover,
        a:active {
          color: $ddx-blue-lighter;
          text-decoration: none;
          font-weight: normal;
        }
      }

      p.captcha {
        text-align: left;
      }

      p.message {
        text-align: right;
      }

      p.forgot-password {
        width: 100%;
        text-align: right;
      }
    }

    .forgot-password {
      width: 100%;
      font-weight: lighter;
      text-align: right;

      a,
      a:hover,
      a:active {
        color: $ddx-blue-lighter;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}
