@import '../../../styles.scss';

$page-margin: 15px;

:host {
  background: $ddx-dark-main;
  margin: $page-margin;
  padding: 15px 0;

  display: flex;
  flex-direction: column;

  width: calc(100% - #{2 * $page-margin});
  height: fit-content;
  box-sizing: border-box;

  .page-header {
    flex-direction: column;
    margin-bottom: 15px;

    h2 {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }

    .page-header__items {
      align-self: flex-end;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;

      .page-header__item {
        display: flex;
        min-width: unset;
        width: 100%;

        &:not(:last-child) {
          margin: 0 0 3px 0;
        }
      }
    }
  }

  .page-content {
    .mat-table {
      table-layout: fixed;
      width: 100%;

      .mat-header-row {
        background-color: $ddx-dark-main;
        border-bottom: 1px solid rgba($ddx-dark-lightest, 0.1);

        .header-tooltip-button {
          width: 18px;
          height: 18px;
          display: none;
          align-items: center;
          justify-content: center;
          margin: -2px 0 0 2px;

          .mat-icon {
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 16px;
            font-size: 16px;
          }
        }
      }

      .mat-row {
        background-color: $ddx-dark-main;
      }

      .mat-row.even {
        background-color: $ddx-dark-lighter;
      }

      .mat-header-cell,
      .mat-cell {
        @extend .caption-small;

        flex: 1;

        text-align: center;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.show-on-medium {
          display: none;
        }

        &.mat-column-shortName {
          flex: 0.5;
        }

        &.mat-column-actions {
          flex: 2;
        }

        &.row-index {
          flex: 1;
        }

        &.row-small {
          flex: 4;
        }

        &.row-big {
          flex: 7;
        }

        &.up,
        &.green {
          color: $ddx-green;
        }

        &.down,
        &.red {
          color: $ddx-red;
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    .page-header {
      .page-header__items {
        flex-direction: row;
        width: unset;

        .page-header__item {
          width: unset;

          &:not(:last-child) {
            margin: 0 3px 0 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    padding: 15px;

    .page-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
        text-align: left;
      }

      .page-header__items {
        align-self: center;
      }
    }

    .page-content {
      .mat-table {
        .mat-header-row {
          .header-tooltip-button {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-desktop) {
  :host {
    max-width: calc(#{$break-desktop} - #{2 * $page-margin});
    margin: $page-margin auto;
  }
}
