:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('assets/images/redirection-page-background.svg');
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    padding: 15px 0;
  }

  .mat-progress-bar {
    max-width: 355px;
    margin: 15px 0;
  }
}
