@import '../../../../styles.scss';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: none;

  h1 {
    font-size: 20px;
    padding: 15px 10px;
  }

  .mat-progress-bar {
    max-width: 320px;
    margin: 15px 10px;
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    background-image: url('assets/images/redirection-page-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
      font-size: 26px;
    }

    .mat-progress-bar {
      max-width: 375px;
    }
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    background-size: unset;
  }
}
