<h2 class="market__action-title">
  {{ side === 'buy' ? 'Buy' : 'Sell' }}
  {{ activeSymbol.baseCurrencyShortName }}
</h2>
<hr class="market__title-seperator" />
<form
  arrangeStack
  #form="ngForm"
  class="market__form"
  autocomplete="off"
  *ngIf="!!marketFormGroup"
  [formGroup]="marketFormGroup"
  (ngSubmit)="submitForm()"
>
  <span arrangeInline *ngIf="activeType === 'limit'">
    Time in Force
    <button
      mat-icon-button
      matTooltip="{{ timeInForceTooltipContent }}"
      matTooltipClass="formatted-tooltip"
      class="header-tooltip-button"
      type="button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <mat-form-field appearance="outline" *ngIf="activeType === 'limit'">
    <mat-select formControlName="timeInForce">
      <mat-option
        *ngFor="let item of timeInForceDropdownItems"
        [value]="item.value"
      >
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span
    arrangeInline
    *ngIf="activeType === 'limit'"
    class="post-only-container"
  >
    <mat-checkbox formControlName="postOnly" required #checkbox
      >Post only
    </mat-checkbox>
    <button
      mat-icon-button
      matTooltip="A post-only limit order is either placed in the order book or expires if matches an existing order. Post-only option guarantees that you will not pay the taker fee."
      matTooltipClass="formatted-tooltip"
      class="header-tooltip-button"
      type="button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>

  <table arrangeCenter class="market__balance">
    <ng-template
      [ngIf]="!!quoteBalanceData && !!baseBalanceData"
      [ngIfElse]="defaultTable"
    >
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>Balance:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.available + ' ' + quoteBalanceData.currency
                : baseBalanceData.available + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>In Order:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.reserved + ' ' + quoteBalanceData.currency
                : baseBalanceData.reserved + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td arrangeInline>
            Total:
            <button
              mat-icon-button
              matTooltip="Total value of order in quote currency"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{
              this.side === 'buy'
                ? baseTotal + ' ' + baseBalanceData.currency
                : quoteTotal + ' ' + quoteBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Best {{ this.side !== 'buy' ? 'Bid' : 'Ask' }}:</td>
          <td>
            {{ this.side !== 'buy' ? bestBid : bestAsk }}
            {{ quoteBalanceData.currency }}
          </td>
        </tr>
      </tbody>
    </ng-template>
    <ng-template #defaultTable>
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>Balance:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>In Order:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td arrangeInline>
            Total:
            <button
              mat-icon-button
              matTooltip="Total value of order in quote currency"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.baseCurrencyShortName
                : 0 + ' ' + activeSymbol.quoteCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Best {{ this.side === 'buy' ? 'Bid' : 'Ask' }}:</td>
          <td>0 {{ activeSymbol.quoteCurrencyShortName }}</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.quantityIncrement"
      [step]="activeSymbol.quantityIncrement"
      formControlName="quantity"
    />
    <span matSuffix>
      {{ activeSymbol.baseCurrencyShortName }}
    </span>
  </mat-form-field>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('required')">
    Amount field can't be empty
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('min')">
    Amount should be a positive number greater than or equal to
    {{ activeSymbol.quantityIncrement }}
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('max')">
    Amount should be a positive number lesser than or equal to your balance:
    {{ baseBalanceData.available }}
  </mat-error>
  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.amount">{{ error }}</mat-error>
  </ng-container>

  <mat-form-field *ngIf="activeType === 'limit'" appearance="outline">
    <mat-label>Limit</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.tickSize"
      [step]="activeSymbol.tickSize"
      formControlName="price"
    />
    <span matSuffix>
      {{ activeSymbol.quoteCurrencyShortName }}
    </span>
  </mat-form-field>
  <mat-error *ngIf="marketFormGroup.controls.price.hasError('required')">
    Limit field can't be empty
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.price.hasError('min')">
    Limit should be a positive number greater than or equal to
    {{ activeSymbol.tickSize }}
  </mat-error>
  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.limit">{{ error }}</mat-error>
  </ng-container>

  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.symbol">{{ error }}</mat-error>
  </ng-container>

  <table arrangeCenter class="market__estimations">
    <tbody arrangeStack>
      <tr arrangeInline>
        <td>
          Total
        </td>
        <td class="market__total-amount">
          {{ total }}
          <span matSuffix>
            {{ activeSymbol.quoteCurrencyShortName }}
          </span>
        </td>
      </tr>
      <tr arrangeInline>
        <td arrangeInline>
          Taker fee
          {{ activeSymbol.takeLiquidityRate * 100 }}%
          <button
            mat-icon-button
            matTooltip="Taker fees are paid when you remove liquidity from our order book by placing any order that is executed against an order on the order book. If you buy or sell using a market order, you will pay the taker fee because a market order immediately removes liquidity (other traders' offers) from the order book."
            matTooltipClass="formatted-tooltip"
            class="header-tooltip-button"
            type="button"
          >
            <mat-icon>help</mat-icon>
          </button>
        </td>
        <td>
          {{ takerFee }}
          {{ activeSymbol.quoteCurrencyShortName }}
        </td>
      </tr>
      <tr *ngIf="this.activeType === 'limit'" arrangeInline>
        <td arrangeInline>
          Maker fee
          {{ activeSymbol.provideLiquidityRate * 100 }}%
          <button
            mat-icon-button
            matTooltip="Maker fees are paid when you add liquidity to our order book by placing a limit order below the ticker price for buy, and above the ticker price for sell.  If you place a limit buy below the current market price, or a limit sell above the current market price, then you will pay the maker fee if the market moves into your limit order because you added liquidity to the order book, while other traders took your offer from the order book."
            matTooltipClass="formatted-tooltip"
            class="header-tooltip-button"
            type="button"
          >
            <mat-icon>help</mat-icon>
          </button>
        </td>
        <td>
          {{ makerFee }}
          {{ activeSymbol.quoteCurrencyShortName }}
        </td>
      </tr>
    </tbody>
  </table>

  <div
    arrangeStack
    arrangeCenter
    *ngIf="activeType === 'market'"
    class="market__approximations"
  >
    <p>You will approximately {{ this.side === 'buy' ? 'pay' : 'get' }}</p>
    <strong
      >{{ this.side === 'buy' ? buyApproxPay : sellApproxPay }}
      {{ activeSymbol.quoteCurrencyShortName }}</strong
    >
  </div>

  <pro-button
    color="basic"
    type="submit"
    class="market__submit-button"
    [ngClass]="side + '-button'"
    #submitButton
  >
    {{ side === 'buy' ? 'Buy' : 'Sell' }}
  </pro-button>
</form>
