<h2 class="market__action-title">
  {{
    side === 'buy'
      ? ('homepage.market_form.side_buy' | ddxLocale)
      : ('homepage.market_form.side_sell' | ddxLocale)
  }}
  {{ activeSymbol.baseCurrencyShortName }}
</h2>
<hr class="market__title-seperator" />
<form
  arrangeStack
  #form="ngForm"
  class="market__form"
  autocomplete="off"
  *ngIf="!!marketFormGroup"
  [formGroup]="marketFormGroup"
  (ngSubmit)="submitForm()"
>
  <span arrangeInline *ngIf="activeType === 'limit'">
    {{ 'homepage.market_form.time_in_force' | ddxLocale }}
    <button
      mat-icon-button
      matTooltip="{{
        'homepage.market_form.time_in_force_tooltip' | ddxLocale
      }}"
      matTooltipClass="formatted-tooltip"
      class="header-tooltip-button"
      type="button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>
  <mat-form-field appearance="outline" *ngIf="activeType === 'limit'">
    <mat-select formControlName="timeInForce">
      <mat-option
        *ngFor="let item of timeInForceDropdownItems"
        [value]="item.value"
      >
        {{ 'homepage.market_form.' + item.title | ddxLocale }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span
    arrangeInline
    *ngIf="activeType === 'limit'"
    class="post-only-container"
  >
    <mat-checkbox formControlName="postOnly" required #checkbox
      >{{ 'homepage.market_form.post_only' | ddxLocale }}
    </mat-checkbox>
    <button
      mat-icon-button
      matTooltip="{{ 'homepage.market_form.post_only_tooltip' | ddxLocale }}"
      matTooltipClass="formatted-tooltip"
      class="header-tooltip-button"
      type="button"
    >
      <mat-icon>help</mat-icon>
    </button>
  </span>

  <table arrangeCenter class="market__balance">
    <ng-template
      [ngIf]="!!quoteBalanceData && !!baseBalanceData"
      [ngIfElse]="defaultTable"
    >
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>{{ 'homepage.market_form.balance' | ddxLocale }}:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.available + ' ' + quoteBalanceData.currency
                : baseBalanceData.available + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>{{ 'homepage.market_form.in_order' | ddxLocale }}:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.reserved + ' ' + quoteBalanceData.currency
                : baseBalanceData.reserved + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td arrangeInline>
            {{ 'homepage.market_form.total' | ddxLocale }}:
            <button
              mat-icon-button
              matTooltip="{{
                'homepage.market_form.total_tooltip' | ddxLocale
              }}"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{
              this.side === 'buy'
                ? baseTotal.toNumber() + ' ' + baseBalanceData.currency
                : quoteTotal.toNumber() + ' ' + quoteBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>
            {{
              this.side !== 'buy'
                ? ('homepage.market_form.best_bid' | ddxLocale)
                : ('homepage.market_form.best_ask' | ddxLocale)
            }}:
          </td>
          <td>
            {{ this.side !== 'buy' ? bestBid : bestAsk }}
            {{ quoteBalanceData.currency }}
          </td>
        </tr>
      </tbody>
    </ng-template>
    <ng-template #defaultTable>
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>{{ 'homepage.market_form.balance' | ddxLocale }}:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>{{ 'homepage.market_form.in_order' | ddxLocale }}:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td arrangeInline>
            {{ 'homepage.market_form.total' | ddxLocale }}:
            <button
              mat-icon-button
              matTooltip="{{
                'homepage.market_form.total_tooltip' | ddxLocale
              }}"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.baseCurrencyShortName
                : 0 + ' ' + activeSymbol.quoteCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>
            {{
              this.side !== 'buy'
                ? ('homepage.market_form.best_bid' | ddxLocale)
                : ('homepage.market_form.best_ask' | ddxLocale)
            }}:
          </td>
          <td>0 {{ activeSymbol.quoteCurrencyShortName }}</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'homepage.market_form.amount' | ddxLocale }}</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.quantityIncrement"
      [step]="activeSymbol.quantityIncrement"
      formControlName="quantity"
    />
    <span matSuffix>
      {{ activeSymbol.baseCurrencyShortName }}
    </span>
  </mat-form-field>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('required')">
    {{ 'homepage.market_form.amount_error_required' | ddxLocale }}
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('min')">
    {{ 'homepage.market_form.amount_error_min_1' | ddxLocale }}
    {{ activeSymbol.quantityIncrement }}
    {{ 'homepage.market_form.amount_error_min_2' | ddxLocale }}
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('max')">
    {{ 'homepage.market_form.amount_error_max' | ddxLocale }}
    {{ baseBalanceData.available }}
  </mat-error>
  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.amount">{{ error }}</mat-error>
  </ng-container>

  <mat-form-field *ngIf="activeType === 'limit'" appearance="outline">
    <mat-label>{{ 'homepage.market_form.limit' | ddxLocale }}</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.tickSize"
      [step]="activeSymbol.tickSize"
      formControlName="price"
    />
    <span matSuffix>
      {{ activeSymbol.quoteCurrencyShortName }}
    </span>
  </mat-form-field>
  <mat-error *ngIf="marketFormGroup.controls.price.hasError('required')">
    {{ 'homepage.market_form.limit_error_required' | ddxLocale }}
  </mat-error>
  <mat-error *ngIf="marketFormGroup.controls.price.hasError('min')">
    {{ 'homepage.market_form.limit_error_min_1' | ddxLocale }}
    {{ activeSymbol.tickSize }}
    {{ 'homepage.market_form.limit_error_min_2' | ddxLocale }}
  </mat-error>
  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.limit">{{ error }}</mat-error>
  </ng-container>

  <ng-container *ngIf="errors">
    <mat-error *ngFor="let error of errors.symbol">{{ error }}</mat-error>
  </ng-container>

  <ng-template
    [ngIf]="hasNoBalance || hasNoTradingBalance"
    [ngIfElse]="normalActions"
  >
    <div arrangeStack arrangeCenter class="market__warnings">
      <ng-template [ngIf]="hasNoBalance" [ngIfElse]="tradingWarning">
        <p>
          {{ 'homepage.market_form.no_balance_warning' | ddxLocale }}
        </p>
      </ng-template>
      <ng-template #tradingWarning>
        <p>
          {{ 'homepage.market_form.no_trading_balance_warning' | ddxLocale }}
        </p>
      </ng-template>
    </div>

    <pro-button
      color="basic"
      type="button"
      class="market__submit-button warning-cta-button"
      routerLink="/account/funds"
      [queryParams]="hasNoBalance ? {} : { transfer: true }"
      #submitButton
    >
      {{ 'homepage.market_form.go_to_funds' | ddxLocale }}
    </pro-button>
  </ng-template>

  <ng-template #normalActions>
    <table arrangeCenter class="market__estimations">
      <tbody arrangeStack>
        <tr *ngIf="this.activeType === 'limit'" arrangeInline>
          <td>
            {{ 'homepage.market_form.total' | ddxLocale }}
          </td>
          <td class="market__total-amount">
            {{ total }}
            <span matSuffix>
              {{ activeSymbol.quoteCurrencyShortName }}
            </span>
          </td>
        </tr>
        <tr arrangeInline>
          <td arrangeInline>
            {{ 'homepage.market_form.taker_fee' | ddxLocale }}
            {{ activeSymbol.takeLiquidityRate * 100 }}%
            <button
              mat-icon-button
              matTooltip="{{
                'homepage.market_form.taker_fee_tooltip' | ddxLocale
              }}"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{ takerFee }}
            {{ activeSymbol.quoteCurrencyShortName }}
          </td>
        </tr>
        <tr *ngIf="this.activeType === 'limit'" arrangeInline>
          <td arrangeInline>
            {{ 'homepage.market_form.maker_fee' | ddxLocale }}
            {{ activeSymbol.provideLiquidityRate * 100 }}%
            <button
              mat-icon-button
              matTooltip="{{
                'homepage.market_form.maker_fee_tooltip' | ddxLocale
              }}"
              matTooltipClass="formatted-tooltip"
              class="header-tooltip-button"
              type="button"
            >
              <mat-icon>help</mat-icon>
            </button>
          </td>
          <td>
            {{ makerFee }}
            {{ activeSymbol.quoteCurrencyShortName }}
          </td>
        </tr>
      </tbody>
    </table>

    <div
      arrangeStack
      arrangeCenter
      *ngIf="activeType === 'market'"
      class="market__approximations"
    >
      <ng-template
        [ngIf]="approxPay !== null"
        ;
        [ngIfElse]="notAvailableInMarket"
      >
        <p>
          {{
            this.side === 'buy'
              ? ('homepage.market_form.market_approx_pay' | ddxLocale)
              : ('homepage.market_form.market_approx_get' | ddxLocale)
          }}
        </p>
        <strong
          >{{ approxPay }} {{ activeSymbol.quoteCurrencyShortName }}</strong
        >
      </ng-template>
      <ng-template #notAvailableInMarket>
        <p>{{ 'homepage.market_form.market_not_available' | ddxLocale }}</p>
      </ng-template>
    </div>

    <pro-button
      color="basic"
      type="submit"
      class="market__submit-button"
      [ngClass]="side + '-button'"
      #submitButton
    >
      {{
        side === 'buy'
          ? ('homepage.market_form.side_buy' | ddxLocale)
          : ('homepage.market_form.side_sell' | ddxLocale)
      }}
    </pro-button>
  </ng-template>
</form>
