<h2 class="market__action-title">
  {{ side === 'buy' ? 'Buy' : 'Sell' }}
  {{ activeSymbol.baseCurrencyShortName }}
</h2>
<hr class="market__title-seperator" />
<form
  arrangeStack
  #form="ngForm"
  class="market__form"
  autocomplete="off"
  [formGroup]="marketFormGroup"
  (ngSubmit)="submitForm()"
>
  <dropdown-select
    *ngIf="activeType === 'limit'"
    caption="Time in Force"
    [items]="timeInForceDropdownItems"
    [control]="marketFormGroup.controls.timeInForce"
  ></dropdown-select>

  <mat-checkbox
    *ngIf="activeType === 'limit'"
    formControlName="postOnly"
    required
    #checkbox
    >Post only
  </mat-checkbox>

  <table arrangeCenter class="market__balance">
    <ng-template
      [ngIf]="!!quoteBalanceData && !!baseBalanceData"
      [ngIfElse]="defaultTable"
    >
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>Balance:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.available + ' ' + quoteBalanceData.currency
                : baseBalanceData.available + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>In Order:</td>
          <td>
            {{
              this.side === 'buy'
                ? quoteBalanceData.reserved + ' ' + quoteBalanceData.currency
                : baseBalanceData.reserved + ' ' + baseBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Total:</td>
          <td>
            {{
              this.side === 'buy'
                ? baseTotal + ' ' + baseBalanceData.currency
                : quoteTotal + ' ' + quoteBalanceData.currency
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Best {{ this.side === 'buy' ? 'Bid' : 'Ask' }}:</td>
          <td>
            {{ this.side === 'buy' ? bestBid : bestAsk }}
            {{ quoteBalanceData.currency }}
          </td>
        </tr>
      </tbody>
    </ng-template>
    <ng-template #defaultTable>
      <tbody arrangeStack>
        <tr arrangeInline>
          <td>Balance:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>In Order:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.quoteCurrencyShortName
                : 0 + ' ' + activeSymbol.baseCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Total:</td>
          <td>
            {{
              this.side === 'buy'
                ? 0 + ' ' + activeSymbol.baseCurrencyShortName
                : 0 + ' ' + activeSymbol.quoteCurrencyShortName
            }}
          </td>
        </tr>
        <tr arrangeInline>
          <td>Best {{ this.side === 'buy' ? 'Bid' : 'Ask' }}:</td>
          <td>0 {{ activeSymbol.quoteCurrencyShortName }}</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.quantityIncrement"
      [step]="activeSymbol.quantityIncrement"
      formControlName="quantity"
    />
    <span matSuffix>
      {{ activeSymbol.baseCurrencyShortName }}
    </span>
    <mat-error *ngIf="marketFormGroup.controls.quantity.hasError('min')">
      Amount should be a positive number greater or equal than
      {{ activeSymbol.quantityIncrement }}
    </mat-error>
    <ng-container *ngIf="errors">
      <mat-error *ngFor="let error of errors.amount">{{ error }}</mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field *ngIf="activeType === 'limit'" appearance="outline">
    <mat-label>Limit</mat-label>
    <input
      type="number"
      matInput
      [min]="activeSymbol.tickSize"
      [step]="activeSymbol.tickSize"
      formControlName="price"
    />
    <span matSuffix>
      {{ activeSymbol.quoteCurrencyShortName }}
    </span>
    <ng-container *ngIf="errors">
      <mat-error *ngFor="let error of errors.limit">{{ error }}</mat-error>
    </ng-container>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Total</mat-label>
    <input type="text" [value]="total" matInput readonly disabled #totalInput />
    <span matSuffix>
      {{ activeSymbol.quoteCurrencyShortName }}
    </span>
    <ng-container *ngIf="errors">
      <mat-error *ngFor="let error of errors.symbol">{{ error }}</mat-error>
    </ng-container>
  </mat-form-field>

  <div
    arrangeStack
    arrangeCenter
    *ngIf="activeType === 'market'"
    class="market__approximations"
  >
    <p>You will approximately {{ this.side === 'buy' ? 'pay' : 'get' }}</p>
    <strong
      >{{ this.side === 'buy' ? buyApproxPay : sellApproxPay }}
      {{ activeSymbol.quoteCurrencyShortName }}</strong
    >
  </div>

  <table arrangeCenter class="market__estimations">
    <tbody arrangeStack>
      <tr arrangeInline>
        <td>
          Taker fee
          {{ activeSymbol.takeLiquidityRate * 100 }}%
        </td>
        <td>
          {{ takerFee }}
          {{ activeSymbol.quoteCurrencyShortName }}
        </td>
      </tr>
    </tbody>
  </table>

  <pro-button
    color="basic"
    type="submit"
    class="market__submit-button"
    [ngClass]="side + '-button'"
    #submitButton
  >
    {{ side === 'buy' ? 'Buy' : 'Sell' }}
  </pro-button>
</form>
