@import '../../../../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px 40px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  checkbox {
    margin: 7px 0;
  }

  hr.market__title-seperator {
    width: 80px;
    height: 0;
    margin: 10px 0;
    border: 1px solid $ddx-light;
    border-radius: 2px;
    background: transparent;
  }

  &#buyActions {
    .market__action-title {
      color: $ddx-green;
    }
    .market__title-seperator {
      border-color: $ddx-green;
    }
  }

  &#sellActions {
    .market__action-title {
      color: $ddx-red;
    }
    .market__title-seperator {
      border-color: $ddx-red;
    }
  }

  table.market__balance,
  table.market__estimations {
    width: 100%;

    tbody {
      width: 100%;

      tr {
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 7px 0;

        td {
          // @extend .caption-small;

          width: 50%;
          text-align: left;

          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  form.market__form {
    width: 100%;
    margin: 10px auto;

    label.form-control {
      background: transparent;
      max-width: $input-width;
      width: 100%;
      margin: 5px auto;
    }

    .market__approximations {
      padding: 40px 0;

      p {
        @extend .body;
      }

      strong {
        @extend .headline;

        margin-top: 5px;
        font-weight: bold;
        color: $ddx-accent-lighter;
        text-align: center;
      }
    }

    table.market__estimations {
      width: 65%;
      min-width: 230px;
      margin: 10px auto;

      tr {
        justify-content: space-between;

        td {
          flex: unset;
        }
      }
    }

    .market__submit-button {
      ::ng-deep button,
      button {
        width: 100%;

        background: transparent;
        border: 2px solid $ddx-light;
      }

      &.buy-button {
        ::ng-deep button,
        button {
          border-color: $ddx-green;
          color: $ddx-green;

          &:hover {
            border-color: $ddx-green;
            background-color: rgba($ddx-green, 0.2);
            color: $ddx-light;
          }

          &.is-loading {
            border-color: $ddx-green;
            background-color: rgba($ddx-green, 0.2);
            color: transparent;
          }
        }
      }

      &.sell-button {
        ::ng-deep button,
        button {
          border-color: $ddx-red;
          color: $ddx-red;

          &:hover {
            border-color: $ddx-red;
            background-color: rgba($ddx-red, 0.2);
            color: $ddx-light;
          }

          &.is-loading {
            border-color: $ddx-red;
            background-color: rgba($ddx-red, 0.2);
            color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    .market__form {
      max-width: unset;
    }

    table.market__balance,
    table.market__estimations {
      width: 100%;

      tbody {
        tr {
          td {
            width: unset;
            flex: 1;
          }
        }
      }
    }
  }
}
