@import '../../../../styles.scss';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $ddx-dark-main;
  color: white;

  width: 100%;
  height: $navbar-height;
  box-sizing: border-box;
  padding: 5px 10px;

  .logo__container {
    height: 100%;

    a {
      height: 100%;
      text-decoration: none;
      color: $ddx-light;
      align-items: center;

      &:active {
        color: $ddx-light;
      }

      img {
        height: 100%;
        object-fit: contain;
        margin: 0 3px;
      }

      #didexLogoText {
        height: 60%;
        display: none;
      }
    }
  }

  .navbar-items__container {
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    padding: 5px 40px;
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    .logo__container {
      a {
        #didexLogoText {
          display: flex;
        }
      }
    }
  }
}
