<div class="logo__container">
  <a arrangeInline routerLink="/">
    <img src="/assets/images/logo-symbol.svg" alt="didex symbol" width="50px" />
    <img src="/assets/images/logo-text.svg" alt="didex text" />
  </a>
</div>
<div arrangeInline class="navbar-items__container" [ngSwitch]="isAuthorized">
  <ng-container *ngSwitchCase="true">
    <dropdown-menu caption="Account">
      <dropdown-item>
        <a routerLink="/account/funds">Funds</a>
      </dropdown-item>
      <dropdown-item>
        <a routerLink="/account/reports">Reports</a>
      </dropdown-item>
    </dropdown-menu>

    <dropdown-menu caption="Profile">
      <dropdown-item>
        <a routerLink="/user/settings">Settings</a>
      </dropdown-item>
      <dropdown-item>
        <span (click)="requestSignOut()">Sign Out</span>
      </dropdown-item>
    </dropdown-menu>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <dropdown-menu caption="Profile">
      <dropdown-item>
        <a routerLink="/auth/signin">Sign In</a>
      </dropdown-item>
      <dropdown-item>
        <a routerLink="/auth/signup">Sign Up</a>
      </dropdown-item>
    </dropdown-menu>
  </ng-container>
</div>
