<div class="logo__container">
  <a arrangeInline routerLink="/">
    <img
      src="/assets/images/logo-white-symbol.svg"
      alt="didex symbol"
      width="50px"
    />
    <img
      src="/assets/images/logo-white-text.svg"
      id="didexLogoText"
      alt="didex text"
    />
  </a>
</div>
<div arrangeInline class="navbar-items__container" [ngSwitch]="isAuthorized">
  <ng-container *ngSwitchCase="true">
    <dropdown-menu caption="Account">
      <a mat-menu-item routerLink="/account/funds">Funds</a>
      <a mat-menu-item routerLink="/account/reports">Reports</a>
    </dropdown-menu>

    <dropdown-menu caption="Profile">
      <a mat-menu-item routerLink="/user/settings">Settings</a>
      <span mat-menu-item (click)="requestSignOut()">Sign Out</span>
    </dropdown-menu>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <dropdown-menu caption="Profile">
      <a mat-menu-item routerLink="/auth/signin">Sign In</a>
      <a mat-menu-item routerLink="/auth/signup">Sign Up</a>
    </dropdown-menu>
  </ng-container>
</div>
