@import '.././../../../styles.scss';

:host {
  width: 100%;
  height: 100%;
  max-width: 450px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: $ddx-blue-darkest;

  .instruments__header {
    padding: 10px;

    .instruments-header__controls {
      justify-content: space-between;

      .instruments-header__base-currencies {
        align-items: center;

        .instruments-header__currency {
          @extend .button-primary;
          @extend .button-short;
          @extend .caption-small;

          margin-right: 3px;
          display: flex;
          min-width: unset;

          color: $ddx-light-darker;
          border-color: $ddx-light-darker;
          background: transparent;

          &:hover {
            color: $ddx-light;
            border-color: $ddx-light;
          }

          &.active {
            color: $ddx-light-darker;
            border-color: $ddx-yellow;
            background: $ddx-yellow;

            &:hover {
              border-color: $ddx-yellow;
              background: $ddx-yellow;
            }
          }
        }
      }
    }
  }

  .instruments__table {
    tbody.instruments-table__body {
      overflow-y: auto;
      tr {
        justify-content: space-between;
        padding: 5px;
        cursor: pointer;

        &:nth-child(odd) {
          background: rgba($ddx-light, 0.1);
        }

        &:hover {
          background: rgba($ddx-yellow, 0.2);
        }

        td {
          @extend .caption-small;

          &.row-index {
            flex: 1;
            text-align: center;
          }

          &.row-small {
            flex: 4;
          }

          &.row-big {
            flex: 7;
          }

          &.up {
            color: $ddx-green;
          }

          &.down {
            color: $ddx-red;
          }
        }
      }
    }
  }
}
