<ng-template
  [ngIf]="!symbolsData || symbolsData.length === 0"
  [ngIfElse]="content"
>
  <div class="loading-spinner"></div>
</ng-template>

<ng-template #content>
  <div arrangeStack class="instruments__header">
    <h2 class="instruments-header__title">
      {{ 'homepage.instruments.title' | ddxLocale }}
    </h2>

    <div arrangeInline class="instruments-header__controls">
      <ul arrangeInline class="instruments-header__base-currencies">
        <li
          *ngFor="let currency of baseCurrencies"
          class="instruments-header__currency"
          [ngClass]="{ active: activeBaseCurrency === currency }"
          (click)="activateBaseCurrency(currency)"
        >
          {{ currency }}
        </li>
      </ul>

      <!-- <button class="button-short">Favorites</button> -->
    </div>
  </div>

  <table arrangeStack class="ddx__table">
    <thead arrangeStack class="ddx-table__head">
      <tr arrangeInline>
        <th arrangeInline class="row-small">
          {{ 'homepage.instruments.name' | ddxLocale }}
          <button
            mat-icon-button
            matTooltip="The name of the cryptocurrency"
            class="header-tooltip-button"
          >
            <mat-icon>help</mat-icon>
          </button>
        </th>
        <th class="row-big">Price</th>
        <th class="row-big">Volume</th>
        <th class="row-small">Change</th>
      </tr>
    </thead>
    <tbody class="ddx-table__body">
      <tr
        arrangeInline
        *ngFor="let symbolRow of tableData; let i = index"
        [ngClass]="{ active: this.activeSymbol.symbol === symbolRow.symbol }"
        (click)="activateSymbol(symbolRow)"
      >
        <td class="row-small">
          {{ symbolRow.quoteCurrencyShortName }}
        </td>
        <td class="row-big" *ngIf="tickerData && tickerData.length > 0">
          {{
            getTickerDataFromSymbol(symbolRow)
              ? getTickerDataFromSymbol(symbolRow).close
              : 0
          }}
        </td>
        <td class="row-big" *ngIf="tickerData && tickerData.length > 0">
          {{
            getTickerDataFromSymbol(symbolRow)
              ? getTickerDataFromSymbol(symbolRow).volume
              : 0
          }}
        </td>
        <td
          class="row-small"
          [ngClass]="getTickerChange(symbolRow) >= 0 ? 'up' : 'down'"
          *ngIf="tickerData && tickerData.length > 0"
        >
          {{ getTickerChange(symbolRow) | number: '1.0-2' }}%
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
