@import '.././../../../styles.scss';

:host {
  width: 100%;
  height: 100%;
  min-width: 290px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  background-color: $ddx-dark-main;
  position: relative;

  .instruments__header {
    padding: 10px;

    .instruments-header__title {
      margin-bottom: 15px;
    }

    .instruments-header__controls {
      justify-content: space-between;

      .instruments-header__base-currencies {
        max-width: 84.5vw;
        min-height: 40px;
        width: 100%;
        overflow-x: auto;
        align-items: center;

        .instruments-header__currency {
          @extend .button-primary;
          @extend .button-short;
          @extend .body;

          margin-right: 3px;
          display: flex;
          min-width: unset;

          color: $ddx-light-darker;
          border-color: $ddx-light-darker;
          background: transparent;

          &:hover {
            color: $ddx-light;
            border-color: $ddx-light;
          }

          &.active {
            font-weight: bold;
            color: $ddx-light;
            border-color: $ddx-yellow;
            background: $ddx-yellow;

            &:hover {
              border-color: $ddx-yellow;
              background: $ddx-yellow;
            }
          }
        }
      }
    }
  }

  table.ddx__table {
    tbody.ddx-table__body {
      tr {
        &.active {
          td:not(.up):not(.green):not(.down):not(.red) {
            color: $ddx-yellow;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    min-width: 320px;
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    min-height: unset;
  }
}
