<div arrangeStack class="instruments__header">
  <h2 class="instruments-header__title">Instruments</h2>

  <div arrangeInline class="instruments-header__controls">
    <ul arrangeInline class="instruments-header__base-currencies">
      <li class="instruments-header__currency">
        <button class="button-short currency-button">
          BTC
        </button>
      </li>
      <li class="instruments-header__currency">
        <button class="button-short currency-button">
          ETH
        </button>
      </li>
      <li class="instruments-header__currency">
        <button class="button-short currency-button">
          USDT
        </button>
      </li>
    </ul>

    <button class="button-short">Favorites</button>
  </div>
</div>

<table class="instruments__table">
  <thead class="instruments-table__head"></thead>
  <thead class="instruments-table__head"></thead>
</table>
