<header>
  <h2>{{ 'kyc.title' | ddxLocale }}</h2>
</header>

<div class="parent-container">
  <div class="kyc-content__container">
    <img src="assets/images/kyc-sent.svg" alt="sent" />
    <p class="body">
      {{ 'kyc.sent.description' | ddxLocale }}
    </p>
  </div>

  <div class="actions kyc-buttons__container double-button__container">
    <button
      class="back-button kyc-edit__buttons"
      routerLink="/user/kyc/personal-info"
      mat-stroked-button
      color="basic"
      type="button"
    >
      {{ 'kyc.sent.edit_application' | ddxLocale }}
    </button>
    <pro-button
      class="kyc-edit__buttons"
      color="primary"
      routerLink="/"
      type="submit"
      (click)="onSubmit()"
      #submitButton
    >
      {{ 'kyc.sent.submit' | ddxLocale }}
    </pro-button>
  </div>
</div>
