<img src="/assets/images/kyc-done.svg" alt="done" />
<p class="body">
  Thanks! Now click on submit button to send your KYC application for approval.
</p>

<div class="actions">
  <a
    class="back-button"
    routerLink="/user/kyc/personal-information"
    rel="noopener noreferrer"
    ><button mat-stroked-button color="basic" type="button">
      Edit application
    </button></a
  >
  <pro-button color="primary" type="submit" (click)="onSubmit()" #submitButton>
    Submit
  </pro-button>
</div>
