@import '../../../../../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  background-color: $ddx-dark-main;
  height: 100%;

  // section {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

  img {
    width: 190px;
    height: 190px;

    object-fit: contain;
  }

  p {
    margin: 20px 0;
    text-align: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    justify-content: space-evenly;

    .back-button {
      @extend .caption;

      text-decoration: none;
      margin-bottom: 30px;

      &,
      &:active,
      &:hover {
        color: $ddx-light-darker;
      }
    }
  }

  button[type='submit'] {
    border: none;

    &:not(:disabled) {
      background-color: $ddx-yellow;
      color: $ddx-light;

      &:hover,
      &:focus {
        background-color: darken($ddx-yellow, 5);
        color: $ddx-light;
      }

      &.is-loading {
        color: transparent;

        &:after {
          border: 0.15em solid $ddx-light-darker;
          border-top-color: transparent;
          border-right-color: transparent;
        }
      }
    }
  }
}
