<div class="body">
  <div class="first-container">
    <div class="center img-desktop">
      <img src="assets/images/Group%202502.svg" alt="" class="img">
    </div>
    <div class="center img-mobile">
      <img src="assets/images/Group2506.svg" alt="" class="img">
    </div>
    <div class="center"><p>The page is not found</p></div>
    <div class="second-container">
      <div><a class="button" >Back</a></div>
      <div><a href="https://didex.com/" class="button">Home Page</a></div>
    </div>
  </div>
</div>
