<div class="body">
  <div class="first-container">
    <div class="center img-desktop">
      <img src="assets/images/Group%202502.svg" alt="" class="img">
    </div>
    <div class="center img-mobile">
      <img src="assets/images/Group2506.svg" alt="" class="img">
    </div>
    <div class="center"><p>
      {{ 'wrong.content.first_line' | ddxLocale }}
    </p></div>
    <div class="second-container">
      <div><a (click)="backClicked()" class="button">
        {{ 'wrong.button.back' | ddxLocale }}
      </a></div>
      <div><a href="/" class="button">
        {{ 'wrong.button.home_page' | ddxLocale }}
      </a></div>
    </div>
  </div>
</div>
