<header>
  <div class="step-counter">Step 4</div>
  <h2>Selfie</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form
  >
    <div arrangeStack class="description">
      <p>
        Please submit a selfie in which you are holding your government-issued
        ID and a paper note. On the note you should handwrite your email
        address, the current date, and the words "for Didex Make sure the selfie
        you are submitting meets the following requirements:
      </p>
      <ul arrangeStack class="restricts">
        <li class="restrict">It is taken in good light</li>
        <li class="restrict">
          The photo is clear, high-resolution, and in color
        </li>
        <li class="restrict">Your face must be clearly visible</li>
        <li class="restrict">
          The text in the note must be handwritten by you and not typed
        </li>
        <li class="restrict">
          The document you are holding must be the same you are submitting for
          your identity verification
        </li>
        <li class="restrict">
          Neither the photos nor the documents have been edited or manipulated
        </li>
      </ul>
    </div>

    <div class="uploader-section">
      <image-uploader [base64Control]="kycFormControls.image"></image-uploader>
    </div>

    <div arrangeStack class="guide">
      <div arrangeCenter class="image-frame">
        <img src="/assets/images/kyc-selfie-1.svg" alt="guide-1" />
      </div>
    </div>

    <div class="actions">
      <a
        class="back-button"
        routerLink="/user/kyc/identity-proof"
        rel="noopener noreferrer"
        ><button mat-stroked-button color="basic" type="button">Back</button></a
      >
      <button
        mat-raised-button
        color="primary"
        type="submit"
        #submitButton
        [disabled]="!kycFormGroup.valid"
      >
        Next
      </button>
    </div>
  </form>
</section>
