@import '../../../../../styles.scss';

:host {
  form {
    grid-template-rows: max-content max-content max-content max-content auto;
    grid-template-columns: auto;
    grid-template-areas:
      'stepper-container'
      'description'
      'guide'
      'uploader'
      'actions';

    .stepper-container {
      grid-area: stepper-container;
      margin-bottom: 15px;

      span {
        padding: 7px 0;
      }

      h3 {
        padding: 7px 0;
        color: $ddx-accent-lighter;
      }
    }

    div.description {
      p {
        line-height: 18px;
        margin-bottom: 5px;
      }
      ul.restricts {
        list-style: none;
        padding-inline-start: 10px;
        margin-bottom: 5px;

        li.restrict {
          @extend .body;

          line-height: 18px;
          position: relative;

          &:before {
            content: '-';
            display: flex;
            position: absolute;
            top: 0;
            .rtl & {
              right: -10px;
            }

            .ltr & {
              left: -10px;
            }
          }
        }
      }
    }

    div.uploader-section {
      grid-area: uploader;
      // align-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div.guide {
      grid-area: guide;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      .image-frame {
        padding: 15px;
        border: 1px dashed $ddx-dark-lightest;
        width: 161px;
        height: 161px;
        box-sizing: border-box;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      span {
        margin: 5px;
        text-align: center;
        display: none;
      }
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    form {
      div.guide {
        span {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: $break-mobile) {
  :host {
    form {
      grid-template-rows: max-content auto;
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        'description guide'
        'uploader actions';

      .stepper-container {
        display: none;
      }

      div.uploader-section {
        align-self: flex-end;
        align-items: flex-end;
        justify-content: flex-start;
      }

      div.guide {
        align-items: flex-end;
        flex-direction: column;

        span {
          margin: 5px 0;
          width: 161px;
          text-align: center;
        }
      }
    }
  }
}
