<header>
  <div class="step-counter">{{ 'kyc.steps.step_4' | ddxLocale }}</div>
  <h2>{{ 'kyc.steps.step_4_caption' | ddxLocale }}</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form
  >
    <div arrangeStack class="description">
      <p>
        {{ 'kyc.selfie.description' | ddxLocale }}
      </p>
      <ul arrangeStack class="restricts">
        <li class="restrict">
          {{ 'kyc.selfie.restricts_1' | ddxLocale }}
        </li>
        <li class="restrict">
          {{ 'kyc.selfie.restricts_2' | ddxLocale }}
        </li>
        <li class="restrict">
          {{ 'kyc.selfie.restricts_3' | ddxLocale }}
        </li>
        <li class="restrict">
          {{ 'kyc.selfie.restricts_4' | ddxLocale }}
        </li>
        <li class="restrict">
          {{ 'kyc.selfie.restricts_5' | ddxLocale }}
        </li>
        <li class="restrict">
          {{ 'kyc.selfie.restricts_6' | ddxLocale }}
        </li>
      </ul>
      <h4>
        {{ 'kyc.selfie.paper_note_title' | ddxLocale }}
      </h4>
      <p>
        {{ 'kyc.selfie.paper_note_content' | ddxLocale }}
      </p>
    </div>

    <div class="uploader-section">
      <image-uploader
        [base64Control]="kycFormControls.image"
        [isLoading]="isLoading"
      ></image-uploader>
    </div>

    <div arrangeStack class="guide">
      <div arrangeCenter class="image-frame">
        <img src="assets/images/kyc-selfie-1.svg" alt="guide-1" />
      </div>
    </div>

    <div class="actions">
      <a
        class="back-button"
        routerLink="/user/kyc/identity-proof"
        rel="noopener noreferrer"
        ><button mat-stroked-button color="basic" type="button">
          {{ 'kyc.selfie.back' | ddxLocale }}
        </button></a
      >
      <pro-button
        color="primary"
        type="submit"
        [disabled]="!kycFormGroup.valid"
        #submitButton
      >
        {{ 'kyc.selfie.next' | ddxLocale }}
      </pro-button>
    </div>
  </form>
</section>
