@import 'assets/styles/reset';
@import 'assets/styles/colors';
@import 'assets/styles/constants';
@import 'assets/styles/flags';
@import 'assets/styles/segoe';
@import 'assets/styles/shabnam';

@import 'assets/styles/kit';

body {
  font-size: 12px;
  line-height: 14px !important;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: $ddx-dark-deep;
  color: $ddx-light;
}

a,
a:active {
  color: $ddx-light;
}

.mat-form-field-wrapper {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

.mat-error {
  margin: 4px 0;
}

.header-tooltip-button {
  width: 18px;
  height: 18px;
  display: none;
  align-items: center;
  justify-content: center;
  margin: -4px 0 0 2px;

  .mat-icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    font-size: 16px;
  }
}

::ng-deep .mat-select-arrow {
  border: none;
  background-image: url(assets/icons/icon-arrow-down.svg);
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
}

.formatted-tooltip {
  white-space: pre-line;
}

@media screen and (min-width: $break-mobile) {
  .header-tooltip-button {
    display: flex;
  }
}

div.tab-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  color: $ddx-light;

  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin-bottom: 3px;
  }
}

div.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  background: rgba($ddx-dark-main, 0.95);
  color: $ddx-light;

  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden {
    display: none;
  }

  &:before {
    content: '';
    display: block;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba($ddx-dark-main, 0.95);
    filter: blur(5px);

    z-index: 1;
  }

  &:after {
    content: '';
    display: block;

    border: 0.15em solid $ddx-light-darker;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;

    width: 2em;
    height: 2em;
    box-sizing: border-box;

    position: absolute;
    top: calc(50% - (2em / 2));
    left: calc(50% - (2em / 2));
    animation: spin 1s linear infinite;

    z-index: 3;
  }
}

* {
  scrollbar-color: rgba($ddx-light, 0.2) rgba($ddx-light, 0.1); /* thumb and track color */
  scrollbar-width: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($ddx-light, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($ddx-light, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($ddx-light, 0.3);
}
