@import './assets/styles/reset';
@import './assets/styles/colors';
@import './assets/styles/constants';
@import './assets/styles/overpass';

html,
body {
  font-family: 'overpass';
  width: 100%;
  overflow-x: hidden;
}
