$ddx-primary: #4a648a;
$ddx-primary-darker: #2a4368;
$ddx-primary-darkest: #213450;
$ddx-primary-hover: $ddx-primary-darker;
$ddx-primary-pressed: $ddx-primary-darkest;

$ddx-light: white;
$ddx-light-darker: #eee;
$ddx-disabled-background: #eee;
$ddx-disabled-text: #4a648a48;
