@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/NunitoSans-Black.woff') format('woff'),
    url('assets/fonts/NunitoSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 900;
  src: url('assets/fonts/NunitoSans-BlackItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/NunitoSans-Bold.woff') format('woff'),
    url('assets/fonts/NunitoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/NunitoSans-BoldItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/NunitoSans-ExtraBold.woff') format('woff'),
    url('assets/fonts/NunitoSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/NunitoSans-ExtraBoldItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/NunitoSans-ExtraLight.woff') format('woff'),
    url('assets/fonts/NunitoSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 200;
  src: url('assets/fonts/NunitoSans-ExtraLightItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/NunitoSans-Italic.woff') format('woff'),
    url('assets/fonts/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/NunitoSans-Light.woff') format('woff'),
    url('assets/fonts/NunitoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/NunitoSans-LightItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/NunitoSans-Regular.woff') format('woff'),
    url('assets/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/NunitoSans-SemiBold.woff') format('woff'),
    url('assets/fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/NunitoSans-SemiBoldItalic.woff') format('woff'),
    url('assets/fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
}
