@font-face {
  font-family: Segoe;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Segoe-UI.woff') format('woff'),
    url('/assets/fonts/Segoe-UI.ttf') format('truetype');
}

@font-face {
  font-family: Segoe;
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/Segoe-UI-Italic.woff') format('woff'),
    url('/assets/fonts/Segoe-UI-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Segoe;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/Segoe-UI-Bold.woff') format('woff'),
    url('/assets/fonts/Segoe-UI-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Segoe;
  font-style: italic;
  font-weight: bold;
  src: url('/assets/fonts/Segoe-UI-Bold-Italic.woff') format('woff'),
    url('/assets/fonts/Segoe-UI-Bold-Italic.ttf') format('truetype');
}
