<header>
  <div class="step-counter">Step 1</div>
  <h2>Personal Information</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form="ngForm"
  >
    <p class="description">
      Please fill in your personal information the way it is stated in the proof
      of identity document.
    </p>
    <mat-form-field appearance="outline" id="firstName">
      <mat-label>First Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="John"
        name="firstName"
        formControlName="firstName"
      />
      <mat-error *ngIf="kycFormGroup.controls.firstName.hasError('required')"
        >This field is required.</mat-error
      >
      <mat-error *ngIf="kycFormGroup.controls.firstName.hasError('maxlength')"
        >Max length should be 50.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" id="lastName">
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        placeholder="Doe"
        matInput
        name="lastName"
        formControlName="lastName"
      />
      <mat-error *ngIf="kycFormGroup.controls.lastName.hasError('required')">
        This field is required.
      </mat-error>
      <mat-error *ngIf="kycFormGroup.controls.lastName.hasError('maxlength')">
        Max length should be 50.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" id="dateOfBirth">
      <mat-label>Date of Birth (MM/DD/YYYY)</mat-label>
      <input
        type="text"
        placeholder="01/21/1900"
        matInput
        [matDatepicker]="birthDatepicker"
        name="dateOfBirth"
        formControlName="dateOfBirth"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="birthDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #birthDatepicker></mat-datepicker>

      <mat-error *ngIf="kycFormGroup.controls.dateOfBirth.hasError('required')">
        This field is required.
      </mat-error>
    </mat-form-field>

    <dropdown-autocomplete-countries
      caption="Country of Birth"
      id="birthCountry"
      [control]="kycFormControls.birthCountryCode"
      desiredValueKey="code"
    ></dropdown-autocomplete-countries>

    <mat-form-field id="zipCode" appearance="outline">
      <mat-label>Zip Code</mat-label>
      <input
        type="text"
        placeholder=""
        matInput
        name="zipCode"
        formControlName="zipCode"
      />

      <mat-error *ngIf="kycFormGroup.controls.zipCode.hasError('required')">
        This field is required.
      </mat-error>
      <mat-error *ngIf="kycFormGroup.controls.zipCode.hasError('maxlength')">
        Max length should be 10.
      </mat-error>
    </mat-form-field>

    <dropdown-autocomplete-countries
      caption="Living in"
      id="country"
      [control]="kycFormControls.countryCode"
      desiredValueKey="code"
    ></dropdown-autocomplete-countries>

    <mat-form-field id="city" appearance="outline">
      <mat-label>City</mat-label>
      <input
        type="text"
        placeholder=""
        matInput
        name="city"
        formControlName="city"
      />

      <mat-error *ngIf="kycFormGroup.controls.city.hasError('required')">
        This field is required.
      </mat-error>
      <mat-error *ngIf="kycFormGroup.controls.city.hasError('maxlength')">
        Max length should be 50.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="addressLine1" appearance="outline">
      <mat-label>Address (Line 1)</mat-label>
      <input
        type="text"
        placeholder=""
        matInput
        name="addressLine1"
        formControlName="addressLine1"
      />
      <mat-error
        *ngIf="kycFormGroup.controls.addressLine1.hasError('required')"
      >
        This field is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field id="addressLine2" appearance="outline">
      <mat-label>Address (Line 2)</mat-label>
      <input
        type="text"
        placeholder=""
        matInput
        name="addressLine2"
        formControlName="addressLine2"
      />
    </mat-form-field>

    <div class="actions">
      <pro-button
        color="primary"
        type="submit"
        [disabled]="!kycFormGroup.valid"
        #submitButton
      >
        Next
      </pro-button>
    </div>
  </form>
</section>
