<header>
  <div class="step-counter">Step 1</div>
  <h2>Personal Information</h2>
</header>

<section>
  <form
    autocomplete="off"
    [formGroup]="kycFormGroup"
    (ngSubmit)="onSubmit()"
    #form
  >
    <p class="description">
      Please fill in your personal information the way it is stated in the proof
      of identity document.
    </p>
    <label for="firstName" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="firstName"
        name="firstName"
        formControlName="firstName"
      />
      <span class="actual-label">First Name</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.firstName)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.firstName.errors.required">
          This field is required.
        </p>
        <p *ngIf="kycFormGroup.controls.firstName.errors.maxlength">
          Max length should be 50.
        </p>
      </div>
    </label>

    <label for="lastName" class="form-control"
      ><input
        type="text"
        placeholder=" "
        id="lastName"
        name="lastName"
        formControlName="lastName"
      />
      <span class="actual-label">Last Name</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.lastName)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.lastName.errors.required">
          This field is required.
        </p>
        <p *ngIf="kycFormGroup.controls.lastName.errors.maxlength">
          Max length should be 50.
        </p>
      </div>
    </label>

    <label for="dateOfBirth" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="dateOfBirth"
        name="dateOfBirth"
        formControlName="dateOfBirth"
      />
      <span class="actual-label">Date of Birth (YYYY-MM-DD)</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.dateOfBirth)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.dateOfBirth.errors.required">
          This field is required.
        </p>
        <p *ngIf="kycFormGroup.controls.dateOfBirth.errors.pattern">
          Format: YYYY-MM-DD
        </p>
      </div>
    </label>

    <dropdown-select
      caption="Country of Birth"
      id="birthCountry"
      [control]="kycFormControls.birthCountryCode"
      [items]="countriesList"
    ></dropdown-select>

    <label for="zipCode" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="zipCode"
        name="zipCode"
        formControlName="zipCode"
      />
      <span class="actual-label">Zip Code</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.zipCode)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.zipCode.errors.required">
          This field is required.
        </p>
        <p *ngIf="kycFormGroup.controls.zipCode.errors.maxlength">
          Max length should be 10.
        </p>
      </div>
    </label>

    <dropdown-select
      caption="Living in"
      id="country"
      [control]="kycFormControls.countryCode"
      [items]="countriesList"
    ></dropdown-select>

    <label for="city" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="city"
        name="city"
        formControlName="city"
      />
      <span class="actual-label">City</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.city)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.city.errors.required">
          This field is required.
        </p>
        <p *ngIf="kycFormGroup.controls.city.errors.maxlength">
          Max length should be 50.
        </p>
      </div>
    </label>

    <label for="addressLine1" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="addressLine1"
        name="addressLine1"
        formControlName="addressLine1"
      />
      <span class="actual-label">Address (Line 1)</span>
      <div
        *ngIf="shouldShowErrors(kycFormGroup.controls.addressLine1)"
        class="warning-feedback"
      >
        <p *ngIf="kycFormGroup.controls.addressLine1.errors.required">
          This field is required.
        </p>
      </div>
    </label>

    <label for="addressLine2" class="form-control">
      <input
        type="text"
        placeholder=" "
        id="addressLine2"
        name="addressLine2"
        formControlName="addressLine2"
      />
      <span class="actual-label">Address (Line 2)</span>
    </label>

    <div class="actions">
      <button type="submit" [disabled]="!kycFormGroup.valid" #submitButton>
        Next
      </button>
    </div>
  </form>
</section>
