@import '../../../../../styles.scss';

$datePickerBackgroundColor: #1f3277;

:host {
  #firstName {
    grid-area: firstName;
  }
  #lastName {
    grid-area: lastName;
  }
  #dateOfBirth {
    grid-area: dateOfBirth;

    ::ng-deep ng-persian-datepicker .datepicker-outer-container {
      position: absolute;
      width: 300px;
      top: 43px;
      right: -10px;
      z-index: 1000;
      background-color: $datePickerBackgroundColor;
      border-radius: 4%;
    }

    // ::ng-deep
    //   .datepicker-outer-container.theme-dark
    //   .datepicker-inner-container
    //   .dp-btn.selected {
    //   background: $icm-orange;
    // }

    ::ng-deep
      .datepicker-outer-container
      .datepicker-inner-container
      .navigation-container
      .switch-view
      span {
      display: flex;
      justify-content: center;
      line-height: 2.4;
    }
  }
  #birthCountry {
    grid-area: birthCountry;
  }
  #zipCode {
    grid-area: zipCode;
  }
  #country {
    grid-area: country;
  }
  #city {
    grid-area: city;
  }
  #nationalCode {
    grid-area: nationalCode;
  }
  #addressLine1 {
    grid-area: addressLine1;
  }
  #addressLine2 {
    grid-area: addressLine2;
  }

  form {
    grid-template-rows: repeat(8, max-content) auto;
    grid-template-columns: 100%;
    row-gap: 5px;
    grid-template-areas:
      'description'
      'firstName'
      'lastName'
      'dateOfBirth'
      'birthCountry'
      'country'
      'city'
      'zipCode'
      'addressLine1'
      'addressLine2'
      'actions';

    .mat-error,
    ::ng-deep .mat-error {
      margin: 0;
    }
  }

  .trader-on-region-two {
    form {
      grid-template-rows: repeat(9, max-content) auto;
      grid-template-columns: 100%;
      row-gap: 5px;
      grid-template-areas:
        'description'
        'firstName'
        'lastName'
        'dateOfBirth'
        'birthCountry'
        'country'
        'city'
        'nationalCode'
        'zipCode'
        'addressLine1'
        'addressLine2'
        'actions';
    }
  }
}

@media screen and (min-width: $break-narrow-tablet) {
  :host {
    form {
      grid-template-rows: repeat(6, max-content) auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'description description'
        'firstName lastName'
        'dateOfBirth birthCountry'
        'country city'
        'zipCode zipCode'
        'addressLine1 addressLine2'
        '. actions';
    }

    .trader-on-region-two {
      form {
        grid-template-rows: repeat(6, max-content) auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          'description description'
          'firstName lastName'
          'dateOfBirth birthCountry'
          'country city'
          'nationalCode zipCode'
          'addressLine1 addressLine2'
          '. actions';
      }
    }
  }
}
